Client Certificate Validation in .NET core is too restrictive

### Description

For a few days we have struggled with calling some SOAP and REST api's with client certificate authentication.
Although we've set HttpClientHandler's ClientCertificates property, the server still rejected our requests with 403.
It soon turned out that the client certificates, although set are not send. We have found a workaround with
using SocketsHttpHandler (easy when using HttpClientHandler directly, not so easy with WCF Stack).
However - as it bothered me for a while why the certs are not sent I have checked .NET Core code, and I've found the 
[code](https://github.com/dotnet/runtime/blob/main/src/libraries/Common/src/System/Net/Security/CertificateHelper.cs) responsible for client certificates validation:


The IsValidClientCertificate method checks the cert's Extensions checking whether there is an X509EnhancedKeyUsageExtension
(by the way - the name of the property is wrong, it should be ExtendedKeyUsageExtension) defined as [Client Authentication](http://oidref.com/1.3.6.1.5.5.7.3.2). 

If the extension is X509KeyUsageExtension (not Enhanced) it checks whethever it is valid for a digital signature - checking X509KeyUsageFlags for DigitalSignature flag.
For the client certificates it is required to have the extensions described above.
However, neither the [RFC 5280](https://www.rfc-editor.org/rfc/rfc5280) nor [TLS v1.2](https://www.rfc-editor.org/rfc/rfc5246#section-7.4.6) restricts the client certificate to have only these extensions and allows others when there is a strong justification. For our customer's it looks like they have one.
I our case the first extension usage our client certificate has is the "Key Encipherment" (20). 
With this in place the first iteration of the .Extensions loop in IsValidClientCertificates method checks this extension (ku) for digital signature and returns false.
This causes the validation to return false and the client certificate is not sent.
We have checked how other technologies and tools behave in this situation - PostMan, curl, Java & ... .Net Framework 4.6 & 4.8.
They all send the certificate without any warning or complain - so I believe, .NET core also should .
I'll be glad to prepare Pull Request to resolve the issue.

### Reproduction Steps

1. Generate client certificate with following key usage extensions (order matters)
a) Key Encipherment
b) Digital Signature
c) Client Authentication (extended)
2. Prepare request with HttpClientHandler and set ClientCertificates property.
3. Call API protected with ClientCertificateAuthentication.

### Expected behavior

Client certificate is send, API get called and request succedded.

### Actual behavior

Client certificate is not send, API get called and error code 403 is returned.

### Regression?

It works properly with checked .NET Framework versions (4.6 & 4.8).

### Known Workarounds

Use SocketsHttpHandler and override RemoteCertificateValidationCallback class to simple return true, and LocalCerticateSelectionCallback to send the client certificate.

### Configuration

.NET Core 3.1, .NET Core 5.0, .NET Core 6.0.

### Other information

the [code](https://github.com/dotnet/runtime/blob/main/src/libraries/Common/src/System/Net/Security/CertificateHelper.cs) responsible for client certificates validation, see description.

Starting with .NET 8.0 you can use [SslClientAuthenticationOptions.ClientCertificateContext](https://learn.microsoft.com/en-us/dotnet/api/system.net.security.sslclientauthenticationoptions.clientcertificatecontext?view=net-8.0).
That can additionally give you control over intermediate CA certificates. 


From RFC 5280, [section 4.2 (Certificate Extensions)](https://www.rfc-editor.org/rfc/rfc5280#section-4.2)

> A certificate MUST NOT include more
   than one instance of a particular extension.  For example, a
   certificate may contain only one authority key identifier extension
   ([Section 4.2.1.1](https://www.rfc-editor.org/rfc/rfc5280#section-4.2.1.1)).

If the certificate contains two distinct KeyUsage extensions, one of which has only KeyEncipherment, and one of which has only DigitalSignature, the certificate itself is "invalid" (per that clause in 5280), so various platforms treating them differently is more or less fine.  Garbage in, garbage out.

While KeyEncipherment without DigitalSignature is valid for an RSA server cert with the legacy RSA key exchange-based ciphersuites, all modern ciphersuites are DigitalSignature as the purpose of the ciphersuite.  For client certificates, the only role the certificate has is a) to exchange static Diffie Hellman parameters or b) as an identity certificate, proven by a signature.  Since no one does (a), that means it's only for signatures.  So now we pop up to [RFC 5246 section 7.4.6](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.6) and see that all certificate types include "the certificate MUST allow the key to be used for signing...", which ultimately bounces back to RFC 5280 KU's and see that the DigitalSignature bit is required on all client certificates.

So, no, in my opinion .NET (nee Core) isn't being too restrictive.  The certificate (if I understand correctly) is poorly formed and needs to be issued by a more standards-compliant CA/process.

Is there some way an app could tell that we consider the cert invalid (like some error callback)?

> Is there some way an app could tell that we consider the cert invalid (like some error callback)?

No error callback, but there is EventSource logging which can be used to diagnose such problems and the logs include a reason for rejecting the certificate.

As bartonjs said, .NET is not being too restrictive here. In .NET 8, you should be able to provide a SslStreamCertificateContext to SslOptions on the SocketsHttpHandler which would take precedence over filtering ClientCertifcates collection by the HttpClientHandler. Are you able to test this?

> Known Workarounds
Use SocketsHttpHandler and override RemoteCertificateValidationCallback class to simple return true, and LocalCerticateSelectionCallback to send the client certificate.

I don't think you need to set the `RemoteCertificateValidationCallback` to workaround this, in fact setting overriding this to always return true has security implications.

Hello,
I appreciate bartonjs's remark on RFC - good point, I've missed the sentence.
The only thing that still bothers me is the fact, that in some situations (like ours) you can't do anything to get the certificate in the right form. The certificate is issued by 3-rd party organization (in this case it is governmental one) and you can only take and use it or not use their API at all. Thus, for me, the client certificate validation should be something that is easy to turn off. 
When it comes to RemoteCertificateValidationCallback - yes, it is not required, in fact in our case it was related to the fact the server certificate on test-env API was expired (no comment at all ;-) ).
I'm affraid that the SslStreamCertificateContext to SslOptions on SocketsHttpHandler does not bring any help with WCF stack other than the workaround we've implemented with our own EndpointBehavior (using SocketsHttpHandler) which is a bit complicated and not the simple and easy one. Am I missing something here?

Unfortunately, I am not familiar with WCF stack and how easy it is to configure TLS on the connections. @mconnew Could you please chime in?

WCF has easy API support for customizing the behavior within the bounds of any standards and following best practices only. We don't want to make it easy to do something incorrect, especially when it comes to security. We're not going to add any API surface to enable overriding this behavior via our public APIs because technically what you're trying to do is counter to what the security protocols say should be done.  

Replacing the HttpMessageHandler that WCF uses with SocketsHttpHandler using a custom behavior to inject it is a "get out of jail free" mechanism I created for when you want to do something outside of how things are meant to work so that I didn't have to answer "sorry, you're doing it wrong and I don't have a solution" any more. To enable giving full control where you can do anything you want, the only way to do that without having a moving target that needs to be updated for each new scenario is to expose the raw underlying mechanics, in this case modifying/replacing the HttpMessageHandler. This means you have to deal with the raw component (HttpMessageHandler/HttpClientHAndler/SocketsHttpHandler etc) yourself. It shouldn't require anything too complicated though as the HttpClientHandler we pass to the delegate has everything configured already. So you can use the regular means to configure WCF, and then in your handler overriding delegate copy the necessary values across. E.g. any credentials, decompression modes supported etc.

So to answer your last question, you aren't missing anything. You're using an advanced technique to override behavior outside of specs/standards and that's going to look a little ugly. But at least it's doable, on .NET Framework you couldn't work around this.

Thank you for sharing your view on this subject @mconnew - although it's not a good news for me, you are clear on this. Just to clear it up - with .NET Framework the above problem does not exist - either there isn't any validation on client certificates or it is less strict, because the certificate described here is sent without any problem (as it is with Java, curl, PostMan etc).
As to sum it up - I understand the arguments for leaving the client certificate's validation as it is and the background behind it. However, I still believe the handling of the situation decribed above should be more clear for developer using the .ClientCertificates property - although the user sets the property he will never know (except the situation when he has switched on the advanced tracing) that the certificate he has set will not be send with his request, and will have to spent few hours on tracing the authentication issue with "the other (server) side" or trace the network with WireShark as I did. 
I would expect the clear info on what I'm doing wrong and as soon as possible - I mean the validation of the certificate could be fired on setting the ClientCertificates property triggerring the exception "not a valid client certificate". Or at least it should be fired before sending the request - instead of pretending that ClientCertificates are OK but sending the request without them.

It's not quite that simple. It ignores the client certificates unless the server asks for it. A website might not ask for it, or may only ask for certain urls. If an exception was thrown on setting it, some existing success scenarios would now become failures in the case that they are using a bad certificate but the server never asks for it. 
It's also really rare that a certificate with bad key usage is used. This is the first I've heard of someone using a certificate with incorrect KeyUsage in over a decade of working with WCF. 

like mconnew said. moving the validation to the property setter or elsewhere could potentially throw where we didn't throw before and break existing code (which worked because the user specified multiple certificates and a valid one was used instead).

The fact that debugging this issue is not straightforward (packet captures or collecting internal logs) is unfortunate, but I don't see a clear way for improvement for this scenario specifically, since we are already logging the reason why we filter out the certificate.

Do you have any more questions,  @systems2000 ? If not, I will close the issue as there does not seem to be anything actionable for us.

Hi,
No more questions @rzikm - although a little bit disappointing but at least all is clear 👍 
Best regards!