SocketsHttpHandler: Consider adding retry support on 408 response

Per RFC, https://www.rfc-editor.org/rfc/rfc7231.html#section-6.5.7:

```
   The 408 (Request Timeout) status code indicates that the server did
   not receive a complete request message within the time that it was
   prepared to wait.  A server SHOULD send the "close" connection option
   (Section 6.1 of [RFC7230]) in the response, since 408 implies that
   the server has decided to close the connection rather than continue
   waiting.  If the client has an outstanding request in transit, the
   client MAY repeat that request on a new connection.
```

The last sentence is the relevant one here. When we receive a 408, *even as an early response*, we can know that the request is retryable. If a server sends this when closing a connection due to idle timeout (or other reason), we can retry the request on a new connection, and thus avoid the race involved with server idle connection timeout. See for example here: https://github.com/dotnet/runtime/issues/52267

Unfortunately I don't think servers commonly do this. Kestrel does not. 




Would there be any chance of an infinite loop here?  e.g. we have a request that takes a non-trivial amount of time to send, or there's a very slow connection, or some such thing.  We send the request, the server sends back a 408 because it took too long.  So we retry.  We send the request, the server sends back a 408 because it took too long.  And repeat and repeat...?

I think you recently added a cap on the number of retries in general, so even if that's an issue, the cap would prevent it from running away, yes?

> the cap would prevent it from running away, yes?

Yes.