Source specific multicast support for sockets

.NET sockets have support of both IPv4 and IPv6 multicast. There are few multicast options in IP protocol and most of them are already supported by .NET, but there is no support of source specific multicast.

Another observation that current sockets implementation does not take advantage of using IP agnostic windows sockets APIs.

## Rationale
Streaming and communication services are very popular these days. IPv6 multicast is able to significantly improve this services in terms of performance, availability and usability. Also it opens a broad range of communication patterns between different devices in network. While native IPv6 adoption is only about 30% it is keep growing and eventually will cover every device.

Source Specific Multicast (SSM) does not require complex address allocation or rendezvous point and works perfectly for things like streaming.

It still can be implemented using raw IPv6, but this approach requires an elevated permissions. Another option is to use new `Socket.SetRawSocketOption()` API proposed in #865, but it requires to pass socket option name as `int` and value as `ReadOnlySpan<byte>`. On the other hand `Socket.SetRawSocketOption()` can be used to simplify implementation of API, since there will be no need to modify `System.Native/pal_networking.c` for Unix compatible systems.

## Usage
Usage can be close to what we have now with any source multicast.

Join source specific multicast group:
```cs
int interfaceIndex = 0;
IPAddress groupIp = IPAddress.Parse("FF3E:0040:pppp:pppp:pppp:pppp:xxxx:xxxx"); // Multicast group address (RFC 4607, RFC 3306)
IPAddress sourceIp = IPAddress.Parse("xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx:xxxx");

using (Socket socket = new Socket(AddressFamily.InterNetworkV6, SocketType.Dgram, ProtocolType.Udp))
{
    var optionValue = new SourceMulticastOption(groupIp, sourceIp, interfaceIndex);
    socket.SetSocketOption(SocketOptionLevel.IPv6, SocketOptionName.AddSourceMembership, optionValue);
}
```
Join any source multicast group using IP agnostic APIs:
```cs
int interfaceIndex = 0;
IPAddress groupIp = IPAddress.Parse("FF3E:0040:pppp:pppp:pppp:pppp:xxxx:xxxx"); // Multicast group address (RFC 4607, RFC 3306)

using (Socket socket = new Socket(AddressFamily.InterNetworkV6, SocketType.Dgram, ProtocolType.Udp))
{
    var optionValue = new IPv6MulticastOption(groupIp, interfaceIndex);
    socket.SetSocketOption(SocketOptionLevel.IPv6, SocketOptionName.AddMembership, optionValue);
}
```
For IPv4 multicast usage is equivalent except:
* Address family should be `AddressFamily.InterNetwork`;
* Group and source addresses should be IPv4;
* Socket option level has to be set to `SocketOptionLevel.IPv6`;

## Proposed API
New option:
```cs
public class SourceMulticastOption
{
    public IPAddress Group { get; }
    public IPAddress Source { get; }
    public long InterfaceIndex { get; }
}
```
Additional option names:
```cs
public enum SocketOptionName
{
    ....
    // Join all sources for a group. IP agnostic.
    McastJoinGroup = 41,

    // Drop all sources for a group. IP agnostic.
    McastLeaveGroup = 42,

    // Block IP group/source.
    McastBlockSource = 43,

    // Unblock IP group/source.
    McastUnblockSource = 44,

    // Join IP group/source.
    McastJoinSourceGroup = 45,

    // Leave IP group/source.
    McastLeaveSourceGroup = 46,
}
```

With RFC 8815 deprecating any-source multicast for interdomain communication, I'm currently writing extension methods to implement source-specific multicast. The way SocketAddress is written prevents efficient code from being written anywhere other than inside the System.Net.Sockets assembly. (Access to InternalSize and Buffer is needed to do block memory copies into SOCKADDR_STORAGE structures, while the only public interface to the same data is on a byte-by-byte this property.)

Also, implementing SOCKADDR_STORAGE in C# is questionable because AFAICT there's no way to force a given alignment for structure allocations on the heap?  ws2ipdef.h (in the Windows SDK) makes it clear it's intended to be aligned on a 64-bit boundary. As a result, I wrote this as unsafe code because of how SOCKADDR_STORAGE alignment is guaranteed in the native code, and my perhaps-naive transliteration of this to C# doesn't allow for direct byte addressing of the memory occupied by the int64 which occupies the second 8 bytes.

If you want to see my first attempt at interim support (which relies on `setsockopt` and doesn't have final-state-based `ioctl` support), it can be found at https://github.com/kyanha/Kyanha.Net.Sockets.Extensions .

Do operating systems nowadays have APIs for dynamically allocating a source-specific multicast address that is not already in use on the same host, as recommended in RFC 4607 section 4.3?  If they do, I hope the feature can be surfaced in .NET as well.  From RFC 6308 section 3.5, it appears that such APIs were not yet widely implemented ten years ago.

> Do operating systems nowadays have APIs for dynamically allocating a source-specific multicast address that is not already in use on the same host, as recommended in RFC 4607 section 4.3? If they do, I hope the feature can be surfaced in .NET as well. From RFC 6308 section 3.5, it appears that such APIs were not yet widely implemented ten years ago.

I can't find information about such a facility on docs.microsoft.com. I can't find any information about any RFC 2771 implementation, either.



@scalablecory its been  while…any progress on this in the past year or two?

thanks!

unfortunately no @Simonl9l. This is unlikely to make 8.0. 

@wfurt thanks for the clarification.

Given some searching, it seems there may be a [workaround](https://stackoverflow.com/questions/5145804/how-to-join-source-specific-multicast-group-in-c-sharp-igmpv3) for this. If this is accurate, it's probably good to refer to this here in the proposal. 

With [Socket.SetRawSocketOption](https://learn.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.setrawsocketoption?view=net-7.0) you can do almost anything if you are willing to write platform specific code. 