Add additional algorithms for EnvelopedCms

EnvelopedCms has a number of additional, and useful, algorithms that are specified in various RFCs but our managed implementation has not kept up with, or never bothered to implement. We should implement these.

- EC-DH ([RFC 5753])
- X25519 ([RFC 8418])
- AES AEADs ([RFC 5084])



[RFC 5753]: https://datatracker.ietf.org/doc/html/rfc5753
[RFC 8418]: https://datatracker.ietf.org/doc/rfc8418/
[RFC 5084]: https://datatracker.ietf.org/doc/rfc5084/