Namespace: System.DirectoryServices.Protocols Class: LdapConnection Method: Bind(). Wrong behavior under Linux

Let's try next piece of code

```cs
using System;
using System.Net;
using System.DirectoryServices.Protocols;

namespace test1
{
    class Program
    {
        static void Main(string[] args)
        {
                var login = "login";
                var password = "password";
                var ldapServer = new LdapDirectoryIdentifier("ldap.server.address");
                var ldapConnection = new LdapConnection(ldapServer);
                var cred = new NetworkCredential(login, password);
                try {
                        ldapConnection.Bind(cred);
                        Console.WriteLine("Good");
                }
                catch (LdapException _) {
                        Console.WriteLine("Bad");
                        Console.WriteLine(string.Format("Exception: 0x{1:X8} {2} {0}", _.Message, _.HResult, _.ErrorCode));
                }
        }
    }
}
```

### Description

When password is good we see output "Good", when password is bad we see output "Bad" and "Exception: 0x80131500 49 The supplied credential is invalid".. It's OK... But when password string is empty (this is not good password) we see output "Good"... This is wrong behavior... and wrong only under Linux (tested under CentOS Linux release 8.2.2004 (Core) and Ubuntu 20.04.1 LTS), .net version: 5.0.0-rc.2. Under Windows empty password give us output "Bad" as expected.

### Configuration
.NET version 5.0.0-rc.2
OS: CentOS 8.2.2004 (Core), Ubuntu 20.04.1 LTS - wrong behavior
       Windows 10 Build 20236 - expected behavior
CPU: x64

### Regression?
Not tested with different versions of .NET

Seems like problem in difference of openldap _ldap_simple_bind_s_ and winapi _ldap_bind_s_. 

And seems like Linux (openldap) version more correct...

RFC 2251 section 4.2.2
RFC 4513 section 5.1.2

[LDAP Bind seems to return true with blank password
](https://stackoverflow.com/a/27873735/808771)

@igorkuzuro is there any action to take here? it seems Linux is behaving as designed, and I think it is unlikely Windows will change - it is likely by design as well. It is probably not appropriate for our API to artificially throw on Linux.

Yes. This not dotnet problem. I found this case by tests and in normal situation anyway restricted usage of empty password. But I think this case should be clearly indicated in the documentation. 

 

Thanks @igorkuzuro . If you wish to clarify in the docs, you may wish to offer a PR here https://github.com/dotnet/dotnet-api-docs. I will close this now.