System.Uri considers all email addresses in same domain as equal

### Description

When comparing two instances of `System.Uri` that represent email addresses (`mailto`) scheme, all instances in the same domain are considered equal. The user information in the URI for these addresses seems to be ignored when comparing equality.

### Reproduction Steps

The following failing unit test reproduces the problem:
```c#
    [Fact]
    public void MailtoUriInSameDomainShouldNotBeEqual()
    {
        var uri1 = new Uri( "mailto:first@contoso.com" );
        var uri2 = new Uri( "mailto:second@contoso.com" );
        
        Assert.NotEqual( uri1, uri2 );
    }
```

### Expected behavior

Instances of System.Uri that represent different email addresses should not be equal.

### Actual behavior

Instances of System.Uri that represent email addresses in the same domain are equal, despite differences in the mailbox name.

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

.NET 7 on macOS Ventura 13.4 and Ubuntu 22.04 jammy (ARM64).

### Other information

In a cursory reading of the `Equals` method code for the type, I did not see any comparison being made to the `UserInfo` property, which is where I believe `System.Uri` holds the mailbox name.

Note: I did find the following line at the end of the `Equals` method:
> `// Fragment AND UserInfo are ignored`

This is probably intentional for certain URIs where UserInfo contains credentials, so I am not sure there is a fix to be made.

Out of curiosity, why should `UserInfo` (and `Fragment` as well, I suppose) be ignored in the first place when comparing? Is there anything in the RFC supporting this decision?

@rzikm I got curious, so I dug into the RFC a bit. I'm guessing that, at least for Fragment, the decision was based on RFC3986 Section 6.1, which includes:

> In testing for equivalence, applications should not directly compare relative references; the references should be converted to their respective target URIs before comparison.  When URIs are compared to select (or avoid) a network action, such as retrieval of a representation, **fragment components (if any) should be excluded from the comparison**.

Not critical, moving to Future. However, there is already PR, so it will likely make it into 8.0.