X509Chain.Build() does not allow empty subject name in Xamarin

### Description

If you have a certificate that builds up to a trusted root and populates `subjectAltName` field but does not populate `subject` field, running `X509Chain.Build()` on such chain results in `True` on Windows but `False` on Xamarin with the `ChainStatus.StatusInformation` property set to `InvalidExtension`.

According to [RFC5280](https://www.rfc-editor.org/rfc/rfc5280):
> The subject name MAY be carried in the subject field and/or the subjectAltName extension.

and according to [RFC2818](https://www.rfc-editor.org/rfc/rfc2818)
> If a subjectAltName extension of type dNSName is present, that MUST
> be used as the identity. Otherwise, the (most specific) Common Name
> field in the Subject field of the certificate MUST be used. Although
> the use of the Common Name is existing practice, it is deprecated and
> Certification Authorities are encouraged to use the dNSName instead.

And thus, missing `subject` should not prevent us from building an X509 chain that should return `True`.

This might be related to [#30469](https://github.com/dotnet/runtime/issues/30469)

### Reproduction Steps

```csharp
            byte[] leafcert = Convert.FromBase64String("MIIGlTCCBX2gAwIBAgITEwABhGbaNffXCVArxgABAAGEZjANBgkqhkiG9w0BAQsFADBTMRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxGDAWBgoJkiaJk/IsZAEZFghtaW5lcmFsczEgMB4GA1UEAxMXT1pNaW5lcmFscy1DQS1DQVJTQ0EwMDEwHhcNMjIwNDA3MDUwMzU4WhcNMjIxMDA0MDUwMzU4WjAAMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApqLqbE0pQQCxT80fVGTG/Bg79DfhLJ3wbjcl4XwQiAoDG0visR8zhJjeQoUACSGPVpZzQI0eRG/F6dYEnOrPoiiGZl2kMcuOKvCXlMyqIdQd6jz6yuyIx/urekLDDi/2ziFt1bJBGt9UF1Vk0yZqDWTcwgoXs/hqyAzaPlnUEursVBDrVUnhElmqj3IgOwShUwqAd0aQTtrW5wyUBc7wg9vok04+oCH3+WEEt/h6BWlUKcB7oi9WZOPMQQUSDbmBwAnpht28U/w97FUZH5VZID6TCL2EuYFd38k8oaBPZjAOfbD9tdOipQp/pOcldQ4WBW+cvOl8rlSj3Y2IkRkMgQIDAQABo4IDszCCA68wPQYJKwYBBAGCNxUHBDAwLgYmKwYBBAGCNxUIh83YMILbxx6DrZE+gcrOOYHB5wpzheWdN4TEvFkCAWYCAQYwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA4GA1UdDwEB/wQEAwIFoDAnBgkrBgEEAYI3FQoEGjAYMAoGCCsGAQUFBwMBMAoGCCsGAQUFBwMCMB0GA1UdDgQWBBTPjYJveyATZyNAFM7I8Nzes1bPxDAfBgNVHSMEGDAWgBQLce4JxTYfxKZtpLrjBX7KmjLYGDCCAXAGA1UdHwSCAWcwggFjMIIBX6CCAVugggFXhoHGbGRhcDovLy9DTj1PWk1pbmVyYWxzLUNBLUNBUlNDQTAwMSgxKSxDTj1DQVJTQ0EwMDEsQ049Q0RQLENOPVB1YmxpYyUyMEtleSUyMFNlcnZpY2VzLENOPVNlcnZpY2VzLENOPUNvbmZpZ3VyYXRpb24sREM9bWluZXJhbHMsREM9bG9jYWw/Y2VydGlmaWNhdGVSZXZvY2F0aW9uTGlzdD9iYXNlP29iamVjdENsYXNzPWNSTERpc3RyaWJ1dGlvblBvaW50hklodHRwOi8vQ0FSU0NBMDAxLm1pbmVyYWxzLmxvY2FsL0NlcnRFbnJvbGwvT1pNaW5lcmFscy1DQS1DQVJTQ0EwMDEoMSkuY3JshkFodHRwOi8vY3JsLm96bWluZXJhbHMuY29tL0NlcnREYXRhL09aTWluZXJhbHMtQ0EtQ0FSU0NBMDAxKDEpLmNybDCCATYGCCsGAQUFBwEBBIIBKDCCASQwgbkGCCsGAQUFBzAChoGsbGRhcDovLy9DTj1PWk1pbmVyYWxzLUNBLUNBUlNDQTAwMSxDTj1BSUEsQ049UHVibGljJTIwS2V5JTIwU2VydmljZXMsQ049U2VydmljZXMsQ049Q29uZmlndXJhdGlvbixEQz1taW5lcmFscyxEQz1sb2NhbD9jQUNlcnRpZmljYXRlP2Jhc2U/b2JqZWN0Q2xhc3M9Y2VydGlmaWNhdGlvbkF1dGhvcml0eTBmBggrBgEFBQcwAoZaaHR0cDovL2NybC5vem1pbmVyYWxzLmNvbS9DZXJ0RGF0YS9DQVJTQ0EwMDEubWluZXJhbHMubG9jYWxfT1pNaW5lcmFscy1DQS1DQVJTQ0EwMDEoMSkuY3J0MCgGA1UdEQEB/wQeMByCGkNBUkRBU0RDMTAxLm1pbmVyYWxzLmxvY2FsMA0GCSqGSIb3DQEBCwUAA4IBAQCnoE1fE1DEA/4mGdL810CFJ272p65L1Po12PHQZ4TDcacJ3JPvj45K3hPjiz4y/KuXHKwQzQMW6Oj1meUE9uM32UpiSa8v/V1y97xihIX6/0FK3cE+r7zAJs86orDiCB9EJVUwfbyflVf8hwwAGOV/C6nWkM3T/qeYntVqDU9GcXyiPCr836Ox9HA3eNLAiEXGoG26tp00rNjed8p12Ay4xME7fIIVhrm+QV/lz+gOouIs36bSFeQvtSDtFEtgYm+wv0PjUJko1mp1YAWikiGoQNBuXvOz6FzNlCcO1m/YkNs/okjamljVjEKEbZ6INwejsdzzsP+sFzpQzQePO7tt");
            byte[] intercert = Convert.FromBase64String("MIIGaTCCBFGgAwIBAgITRgAAAD9gO473azIDRQACAAAAPzANBgkqhkiG9w0BAQsFADAdMRswGQYDVQQDExJPWk1pbmVyYWxzLUNBLVJPT1QwHhcNMTgxMDMxMDIwNDM1WhcNMzQxMDMxMDIxNDM1WjBTMRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxGDAWBgoJkiaJk/IsZAEZFghtaW5lcmFsczEgMB4GA1UEAxMXT1pNaW5lcmFscy1DQS1DQVJTQ0EwMDEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC/bAsWCFJT1GFu4aKu0oOUBcAQJdl1JgfmGM0KdSFngQ/7aKBLgnONk3KSUfbMuJR6r6SLBWLH042EdZbGjkW3rV/bVlA0WcXKNB5ZR+ARt8XIdxVxP+9cKEfjvW6va9hAHmxaG5DG412dHEwolmfbeOsI5eA9IHYRFYzN8Z0P8bRHOEuJttkY6Kod6IoTskciFQfM5HgedMNNHz0FoDgweNrruKP1fodT31mfP4fNi+GgGlBqhun51zhW8ZEJjAbNzFuCqlOrSVb93zNp3ACLDBj2yWZMPNcscuBkR+oMJtUqx12yVlWabscCV14mBh307DOtSnC/jtnvZsU5XhNTAgMBAAGjggJqMIICZjASBgkrBgEEAYI3FQEEBQIDAQABMCMGCSsGAQQBgjcVAgQWBBRjXK5vyazdmXTIj5ZPshUrr70ikTAdBgNVHQ4EFgQUC3HuCcU2H8SmbaS64wV+ypoy2BgwGQYJKwYBBAGCNxQCBAweCgBTAHUAYgBDAEEwCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUBY2NFZkwx2RgzXqMWkta8SPjRSEwTQYDVR0fBEYwRDBCoECgPoY8aHR0cDovL2NybC5vem1pbmVyYWxzLmNvbS9DZXJ0RGF0YS9PWk1pbmVyYWxzLUNBLVJPT1QoMikuY3JsMIIBYQYIKwYBBQUHAQEEggFTMIIBTzBWBggrBgEFBQcwAoZKaHR0cDovL2F3c3N5ZG1zdWJjYTAxL0NlcnRFbnJvbGwvQVdTU1lETVJPT1RDQTAxX09aTWluZXJhbHMtQ0EtUk9PVCgyKS5jcnQwUQYIKwYBBQUHMAKGRWh0dHA6Ly9hZGxzY2EwMDEvQ2VydEVucm9sbC9BV1NTWURNUk9PVENBMDFfT1pNaW5lcmFscy1DQS1ST09UKDIpLmNydDBRBggrBgEFBQcwAoZFaHR0cDovL2NhcnNjYTAwMS9DZXJ0RW5yb2xsL0FXU1NZRE1ST09UQ0EwMV9PWk1pbmVyYWxzLUNBLVJPT1QoMikuY3J0ME8GCCsGAQUFBzAChkNodHRwOi8vY3JsLm96bWluZXJhbHMuY29tL0FXU1NZRE1ST09UQ0EwMV9PWk1pbmVyYWxzLUNBLVJPT1QoMikuY3J0MA0GCSqGSIb3DQEBCwUAA4ICAQA+hheD8XF68AgbfXoArXl1RNNjdCGioSeqUxnmYwgo1EUVW7O+bzidNSZk3L/F6Ki9AkwcoDdxaDewOfsG8Jq/rBHGlASC9Tc7TQJW7bdzTKdgt7RBGhkeMLlJZvhVX5qoIFSClTjMlilb1lAUp1hv0JaIwuz9NH6qexp3SE2Yz4bZFok67BAeM6JaSRltcQ2xf55D8QvD2Q6hYvKNXbJAXg0blg+D9e/b10EbVxPTL0TDsWa3Qmmph5WRaJhxKnOccU05JQVe7U9IJ4+jnkSxCHTieZQ8SUfigACc1uHJYJb2Pn/uZaYNnJ+k1vh8YxeqjGFy/9QIxeHzKbl+2GPNjYXAqA1ow/8OtNSuEwCkivICxcPol57qYAyzhe/1mNh2sHHIIFty2bCy05MDjeok+YJ10xYEAMAn4ALJsIdT8hEhZ78Dg/iz9xpo8ON1XgYxaQBjzgD92mgrZrdEMsEwqo/XFzZ+GO8yu0VJRdZPaePUNmjnz0ElrLoG7hSS6TeArzRPRceZ/KyHhmCdSUS3EQVif3p1z/rTXaKOXEY488UMg3RtfOEK7kOt4P02RtA+1qox/B6bfXmPngfCcQ8RIilq5haAC7LPtDz6YMJC8/qXZCSOAZqsSmJM61CE4dC4q3/KkINIuuZ+1w8T+Wq6ni1VfvEVhvDcPUwivtx7tA==");
            byte[] rootcert = Convert.FromBase64String("MIIFPDCCAySgAwIBAgIQMZ+uKXg36oJF7unXFXlLLDANBgkqhkiG9w0BAQsFADAdMRswGQYDVQQDExJPWk1pbmVyYWxzLUNBLVJPT1QwHhcNMTgxMDMxMDAyNzAyWhcNMzgxMDMxMDAzNzAwWjAdMRswGQYDVQQDExJPWk1pbmVyYWxzLUNBLVJPT1QwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCgfB15njLKrSISOVe9oQnzw29wu09NSh6B9bAJO5oFRM1yOw52EvAS/eVKcyxCWLfnx7hpMQ88WKAnFYd16pUD+GxD1BYGPXUjBirE+NmQ/tTzn7R2QyrFfgLYTer1pMpED91Fk6c70wEDDMAKplI2OliHjPUysnSpsad7Jkm/PE4L5HR+Tbclz1gBSYOT4fVwoyGrVBhAcjuMhhKS9wBerou50ES2NkMIdhq2cbd5gQ0Gj1TBJHqXE+XsGmmGLpVR1s8JN/BPSimZLYkoSh1b/D0Qx8A3ElgRXgOl+zJZn1plpl0oEYzH5bXgfFB7LMFbZEYwrz0WrgzLtFL6dyBV23aw04eyChd0gNLxb+wp/3f3Vft76aL4M8Pb+IpVfvO3mgnGWEqirGQWwl9D1m47wyeSRzbVz4tLoU1COeNmErm12cXjHilYdv0FcAlTZ/9uw4ZUHpiWT5ffCNh+HBhvh9nQT0tNJUogs25jkULMuSynjGV7DY62KOkhmErjiTNTV4nlDdK3QfTth1W331ejv1Jfvj5rs7GhPhmXhA1of8rY6z0mBYGwTTsKytQbo9KBYplMVEXP7iKlHWOd1cG6R61Uw3/YIgfE5K03PfTC/CB0gOfHKtAwrDxbXcCncezClEhzT8mprqL3w1S8N2vK6n9SICq2MzojsZ/3eIBSbQIDAQABo3gwdjALBgNVHQ8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUBY2NFZkwx2RgzXqMWkta8SPjRSEwEgYJKwYBBAGCNxUBBAUCAwIAAjAjBgkrBgEEAYI3FQIEFgQUGG1YuBuzmO0y2fBNY2k+5bLrYdgwDQYJKoZIhvcNAQELBQADggIBAB6nqEfG79WtE6p6qTUa2etmNZeGWZJPt0Y/SaH9PXyzq+YD5kKVpclLsCa+IfbBRaUbfxNZDEiYdZytwzRUOiFwu2vNvPnr01RJd2XZ1Flp4RsOEX7/a69XyxruGlCG6dkfLBkhAJ3u47Jb6wezKGnC7Sqv07DVdk2bnhRZqzgpY9OWiyZ3nt74pSerBRGChFaFHWevqmvO2b3Fg/alfZaEsvF4msLF5+yvonKexaiTgHwbxKobta7QWELZg3lgySoZaHny5tLDW3mEffNQA5zxs71hw75QJ4sFkY/9x8+0c2s65Ze6nuiUUScl2VtyABYA1ZecjsPpyNfxEwAYnzDSwltzA3rcGF0chPLKRPkpCw9MayJpyrRFDPq+nGFUw2CPaXRcV8EYU8XGfshcc8/X6ydQjCl1ANgW1VQ6MZpXFwtDtcxcWbcv74jZtvHktM/282X03lutINxfUz3tZOgbFpZ1xlLbEw5OxWuT/Zss+uAk7ZMSmpGyqhrCopAF68+kFtK896ujjd0GKUfo+hlJ3b/bQEMOUOIHscPoLheuRlcp1IldoMHq+C5F8o6h1XzF9PPN/3wWOKMXr1fF280essDMf7YzjSrtD8myQ591RI3ZLI7u01nByh0x5ZZfKEyGQbCdSvpabm/xMGSZkbCcZcmZlaxlNKyVU2C9WGYR");
            using (var chain = new X509Chain())
            {
                chain.ChainPolicy.ExtraStore.Add(new X509Certificate2(intercert));
                chain.ChainPolicy.ExtraStore.Add(new X509Certificate2(rootcert));
                chain.ChainPolicy.RevocationMode = X509RevocationMode.NoCheck;
                chain.ChainPolicy.VerificationFlags = X509VerificationFlags.AllowUnknownCertificateAuthority;
                using (var cert = new X509Certificate2(leafcert))
                {
                    if (chain.Build(cert))
                    {
                        feedback.Text = "True, built";
                    }
                    else
                    {
                        string s = null;
                        foreach (var status in chain.ChainStatus)
                        {
                            s += status.StatusInformation + "\n";
                        }
                        feedback.Text = s;
                    }
                }
            }
```

### Expected behavior

`True, built`

### Actual behavior

`InvalidExtension`

### Regression?

_No response_

### Known Workarounds

Use certificates with populated `subject` field only

### Configuration

.NET Core 3.1, .NET 6.0 

### Other information

_No response_

Largely, our chain building is at the mercy of the underlying platform.

What OSes and what version(s) of Xamarin are you seeing problems on?

Thanks for the issue. Can you tell us what operating system and version would reproduce this behavior?

My suspicion is Android. We have a test for this scenario:

https://github.com/dotnet/runtime/blob/380cfc9f3b4e1dab3266f44bb178ec456a9ae8a6/src/libraries/System.Security.Cryptography.X509Certificates/tests/ChainTests.cs#L929-L931

But the test is disabled for Android. Since we defer to the platform chain building behavior, it appears that Android does not permit leaf certificates that omit a subject.

Android is using [`CertPathBuilder`](https://developer.android.com/reference/java/security/cert/CertPathBuilder) to build an X.509 chain.

Yup, Android and iOS.
iOS10 and Android 9.0. 
As for Xamarin, reproducible on netstandard2.0. 2.1, 3.1 and net6.0-android.

A very late solution to this, but I figured out that Android is just stricter about interpreting of the subjectAltName extension.

Specifically, from RFC 5280 4.2.1.6:

> If the subject field contains an empty sequence, then the issuing CA MUST include a subjectAltName extension that is marked as critical.

Basically, if the certificate has an empty subject, the Subject Alternative Name extension _must_ be critical.

The CA/B Forum also enforces this, from section 7.1.2.7.12.

> If the subject field of the certificate is an empty SEQUENCE, this extension MUST be
marked critical, as specified in RFC 5280, Section 4.2.1.6. Otherwise, this extension
MUST NOT be marked critical.
GeneralName within a subjectAltName extension

Here is a test to prove it:

```C#
bool critical = true;
using ECDsa rootKey = ECDsa.Create(ECCurve.NamedCurves.nistP256);
using ECDsa eeKey = ECDsa.Create(ECCurve.NamedCurves.nistP256);

CertificateRequest rootReq = new("CN=test", rootKey, HashAlgorithmName.SHA256);
rootReq.CertificateExtensions.Add(X509BasicConstraintsExtension.CreateForCertificateAuthority());
using X509Certificate2 rootCert = rootReq.CreateSelfSigned(DateTimeOffset.Now.AddDays(-1), DateTimeOffset.Now.AddYears(1));

CertificateRequest eeReq = new("", eeKey, HashAlgorithmName.SHA256);
SubjectAlternativeNameBuilder builder = new();
builder.AddDnsName("vcsjones.dev");
eeReq.CertificateExtensions.Add(builder.Build(critical: critical));
eeReq.CertificateExtensions.Add(X509BasicConstraintsExtension.CreateForEndEntity(false));
using X509Certificate2 eeCert = eeReq.Create(rootCert, DateTimeOffset.Now, DateTimeOffset.Now.AddMonths(6), RandomNumberGenerator.GetBytes(10));

X509Chain chain = new();
chain.ChainPolicy.CustomTrustStore.Add(rootCert);
chain.ChainPolicy.RevocationMode = X509RevocationMode.NoCheck;
chain.ChainPolicy.TrustMode = X509ChainTrustMode.CustomRootTrust;
Assert.True(chain.Build(eeCert));
```

On Android, this test will pass. If you change `critical` to false, then it will fail.