Flexible and efficient optionally-structured console logging out of the box

_Updated by @maryamariyan:_

## Description
We want to add the capability to control the format of the logs produced by our console logger. Currently, there is an option to choose between Default (logging on multiple lines with colors) and Systemd (logs on a single line without color). We would like to be able to:

- [x] [a] add a readable and coloured compact format which will log using a single line
- [x] [b] add a JSON based log format. 
- [x] [c] add an extension point so that users can specify their own custom log format. 
- [x] [d] we would need to be able to control the formatter used as well as the formatters via Configuration. 

## Proposal:
The proposal below is aimed at satisfying all the above requirements.

### Scope
We are considering limiting the scope of the formatter API to Logging.Console for now, instead of Logging.Abstractions, though this could potentially in the future be adapted to be used for Logging.Debug as well, 

### Usage and New APIs

Refer to gist: https://gist.github.com/maryamariyan/81f1526fe2156e95352e516f03a61724

#### we would need to be able to control the formatter used as well as the formatters via Configuration. 
As seen in the sample appsettings.json below, the formatter would be selected via Console:Logging:FormatterName, and the formatter options would be set via Console:Logging:FomratterOptions:

```
{
  "Logging": {
    "LogLevel": {
      "Default": "None",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    },

    "Console": {
      "LogLevel": {
        "Default": "Information"
      },
      "FormatterName": "json",
      "FormatterOptions": {
        "JsonWriterOptions": {
          "Indented": true
        },
        "ExtraCustomProperty": "modified",
        "IncludeScopes": true,
        "TimestampFormat": "HH:mm:ss",
        "UseUtcTimestamp": true
      }
    }
  },
  "AllowedHosts": "*"
}

```

## Screenshots
<details>
 <summary> Screenshots for the different built-in selections (click to view)</summary>

`default`:

![image](https://user-images.githubusercontent.com/5897654/82072229-36f78380-968c-11ea-9967-3a9bfe42e7cd.png)

`default`:
(when DefaultConsoleLogFormatterOptions.SingleLine is true)
or we could have an additional formatter called `compact` rather than toggling by property.

![image](https://user-images.githubusercontent.com/5897654/82072759-0cf29100-968d-11ea-92dd-bae20202a4b4.png)

`systemd`:

![image](https://user-images.githubusercontent.com/5897654/84422579-190d3800-abd2-11ea-8529-eb71512bda8d.png)


`json`:

![image](https://user-images.githubusercontent.com/5897654/84421775-e6167480-abd0-11ea-9c11-56e62855c5a2.png)

</details>

<details>
 <summary> Original proposal (click to view) </summary>

### Is your feature request related to a problem? Please describe.

As a web app developer, I'm trying to write web apps (such as nodatime.org) that log efficiently and cleanly, with minimal effort.
As a Google Cloud Platform client library author, I'm trying to make it really easy for our users to integrate with Stackdriver logging and error reporting.
As a .NET community member, I'm trying to make [12-factor apps](https://12factor.net/) easier to write.

Currently, there are three reasonably obvious options for logging in my web application:

**Option 1: Use the default console logger.**

The "no code changed" option.

This has at least three problems:

- Each log entry spans two lines, which makes it far less useful than it might be, and presumably means log entries on busy systems could be interleaved.
- The log entries contain control characters for colour; I'm sure I can disable this, but it's annoying out-of-the-box behaviour
- It's not structured in an easily machine-readable way.

**Option 2: Use Google.Cloud.Diagnostics.AspNetCore**

This library makes RPCs directly to the Stackdriver Logging API.

As one of the contributors to the library, I should be able to get this to work easily, right? Well, it does work, but not as conveniently as I'd like. I can improve things, but this is likely to always be a somewhat-heavyweight option. Useful in some cases, such as when there's nothing monitoring console output, but not necessary in modern container-based systems which almost always *do* monitor the console. It also requires appropriate credentials to be provided when not running on GCP, etc. This ties it to Stackdriver in a way that could be harmful to app portability. (It's fine if you don't need portability of course, but it's a heavyweight dependency otherwise.)

**Option 3: Use Serilog**

I did get this working, writing out structured JSON to the console, but it was relatively painful to do, and didn't write the JSON in a format that Stackdriver expects. In order to get a custom JSON format, I had to do far more work than I'd normally expect to. It worked, but there's no way that every app should have all of this code in it.

### Describe the solution you'd like

Ideally I'd like three simple options:;

- A more concise single-line-per-entry console logger, still just lines of plain text
- A simple structured logger writing JSON in whatever format seems most reasonable after some research
- A way of adapting the second option to write in a custom JSON format

The last is for integration with Stackdriver and presumably other cloud providers' monitoring offerings. With the right JSON, the Stackdriver user interface is clear and easy to read, but still provides structured data that can be used to trigger error reporting, create filters etc.

In an ideal world the CNCF would provide a common JSON format for everyone to use for maximum interoperability, but until that happens it would be useful for the ASP.NET Core team to handle the concerns of gathering the log data and writing the resulting to the console efficiently and atomically, leaving cloud providers to just provide the code to convert the raw log data into appropriate JSON. Even though an app using this would still have a dependency on Stackdriver, it's a much lighter-weight one than Google.Cloud.Diagnostics.AspNetCore - and it would be entirely reasonable to depend on multiple formatters and pick the right one at execution time, expecting each to be standalone and small.

### Additional context

I have *tried* to find existing solutions to this, but I've failed so far.

For nodatime.org, I ended up writing my own console logger, which should only be used for the sake of seeing what I'm trying to achieve - it's not aimed at high-performance scenarios, for example. (If anyone wants to point and laugh, they're welcome - it does the job though :)
https://github.com/nodatime/nodatime.org/blob/master/src/NodaTime.Web/Logging/JsonConsoleLogger.cs
</details>

#### API Proposal

**Assembly:** Microsoft.Extensions.Logging.Abstractions.dll

* Drop `Log` from names
* Rename `Default` so something that doesn't imply a subset relationship, such as `Simple`

**Assembly:** Microsoft.Extensions.Logging.Abstractions.dll

```diff
 namespace Microsoft.Extensions.Logging
 {
+    public readonly struct LogEntry<TState>
+    {
+       public LogEntry(LogLevel logLevel,
+                       string category,
+                       EventId eventId,
+                       TState state,
+                       Exception exception,
+                       Func<TState, Exception, string> formatter);
+       public LogLevel LogLevel { get; }
+       public string Category { get; }
+       public EventId EventId { get; }
+       public TState State { get; }
+       public Exception Exception { get; }
+       public Func<TState, Exception, string> Formatter { get; }
+    }
}
```

**Assembly:** Microsoft.Extensions.Logging.Console.dll

```diff
 namespace Microsoft.Extensions.Logging
 {
     public static partial class ConsoleLoggerExtensions
     {
         public static ILoggingBuilder AddConsole(this ILoggingBuilder builder);
         public static ILoggingBuilder AddConsole(this ILoggingBuilder builder, Action<ConsoleLoggerOptions> configure);
+        public static ILoggingBuilder AddConsoleFormatter<TFormatter, TOptions>(this ILoggingBuilder builder)
+                                      where TFormatter : class, IConsoleFormatter where TOptions : ConsoleFormatterOptions;
+        public static ILoggingBuilder AddConsoleFormatter<TFormatter, TOptions>(this ILoggingBuilder builder, Action<TOptions> configure)
+                                      where TFormatter : class, IConsoleFormatter where TOptions : ConsoleFormatterOptions;
+        public static ILoggingBuilder AddSimpleConsole(this ILoggingBuilder builder, Action<SimpleConsoleFormatterOptions> configure);
+        public static ILoggingBuilder AddJsonConsole(this ILoggingBuilder builder, Action<JsonConsoleFormatterOptions> configure);
+        public static ILoggingBuilder AddSystemdConsole(this ILoggingBuilder builder, Action<ConsoleFormatterOptions> configure);
     }
 }
 namespace Microsoft.Extensions.Logging.Console
 {
+    public static partial class ConsoleFormatterNames
+    {
+        public const string Simple = "simple";
+        public const string Json = "json";
+        public const string Systemd = "systemd";
+    }
+    [ObsoleteAttribute("ConsoleLoggerFormat has been deprecated.", false)]
     public enum ConsoleLoggerFormat
     {
         Default = 0,
         Systemd = 1,
     }
     public partial class ConsoleLoggerOptions
     {
         public ConsoleLoggerOptions();
+        [ObsoleteAttribute("ConsoleLoggerOptions.DisableColors has been deprecated. Please use ColoredConsoleFormatterOptions.DisableColors instead.", false)]
         public bool DisableColors { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.Format has been deprecated. Please use ConsoleLoggerOptions.FormatterName instead.", false)]
         public ConsoleLoggerFormat Format { get; set; }
         public string FormatterName { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.IncludeScopes has been deprecated..", false)]
         public bool IncludeScopes { get; set; }
         public LogLevel LogToStandardErrorThreshold { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.TimestampFormat has been deprecated..", false)]
         public string TimestampFormat { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.UseUtcTimestamp has been deprecated..", false)]
         public bool UseUtcTimestamp { get; set; }
     }
     [ProviderAliasAttribute("Console")]
     public partial class ConsoleLoggerProvider : ILoggerProvider, ISupportExternalScope, IDisposable
     {
         public ConsoleLoggerProvider(IOptionsMonitor<ConsoleLoggerOptions> options);
+        public ConsoleLoggerProvider(IOptionsMonitor<ConsoleLoggerOptions> options, IEnumerable<IConsoleFormatter> formatters);
         public ILogger CreateLogger(string name);
         public void Dispose();
         public void SetScopeProvider(IExternalScopeProvider scopeProvider);
     }
+    public partial class SimpleConsoleFormatterOptions : ConsoleFormatterOptions
+    {
+        public SimpleConsoleFormatterOptions();
+        public bool DisableColors { get; set; }
+        public bool SingleLine { get; set; }
+    }
+    public partial abstract ConsoleFormatter
+    {
+        protected ConsoleFormatter(string name);
+        public string Name { get; }
+        public abstract void Write<TState>(in LogEntry<TState> logEntry,
+                                           IExternalScopeProvider scopeProvider,
+                                           TextWriter textWriter);
+    }
+    public partial class JsonConsoleFormatterOptions : ConsoleFormatterOptions
+    {
+        public JsonConsoleFormatterOptions();
+        public JsonWriterOptions JsonWriterOptions { get; set; }
+    }
+    public partial class ConsoleFormatterOptions
+    {
+        public ConsoleFormatterOptions();
+        public bool IncludeScopes { get; set; }
+        public string TimestampFormat { get; set; }
+        public bool UseUtcTimestamp { get; set; }
+    }
}
```


I couldn't figure out the best area label to add to this issue. Please help me learn by adding exactly one [area label](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md).

@davidfowl, @maryamariyan 

Could I suggest an alternative to this API:
Instead of adding multiple confusing extension methods to the `ILoggingBuilder`, wouldn't it be better to have a **SINGLE** callback-based overload to .AddConsole that looks like this:

```
loggingBuilder
  .AddConsole(consoleFormatConfigure: consoleFormatBuilder =>
  {
    consoleFormatBuilder.UseJsonFormat();
  });
```

That gives us the possibility to have a custom console format builder type, but `AddConsole` still returns `ILoggingBuilder`.

* Remove the `AddConsole(string)` overload, the customer formater methods will do the right thing
* Instead of `IConsoleLoggerOptions` we should use the abstract base type `ConsoleLoggerOptions`
* Instead of tying colors to the formatter we should decouple this by exposing a generic VT100 builder for colors (maybe even a parser). This way, we can simplify the architecture here by making `IConsoleFormatters`'s job purely about building up string
* Should `IConsoleLogFormatter` pass a text writer instead of returning a `string`? This allows the implementation to optimize buffer management

I would also like to suggest that `ConsoleLoggerOptions` would get another property that specifies the output writer by name:

``` c#
namespace Microsoft.Extensions.Logging.Console
{
    public partial class ConsoleLoggerOptions
    {
        public string OutputTarget { get; set; } = "-"; // Default to STDOUT (as the current Console logger does)
    }
}
```

The value of `OutputTarget` would be interpreted as follows:

|`OutputTarget`|`TextWriter` to use|
|-|-|
|`-`, `&1` or `STDOUT`|`System.Console.Out`|
|`&2` or `STDERR`|`System.Console.Error`|
|a file path|An appending `StreamWriter` that writes the output to the specified file (appending and non-exclusively)|

If we would not use the ANSI code as was suggested in the review, implementations could check whether the writer is reference equal to `Console.Out` or `Console.Error` to decide whether to colour or to no-op each colouring directive.

Deciding whether to write to stdout or stderr based on the log message level is a mistake. If I get logging information from this infrastructure, I'd expect one logger to log consistently to one output. If I really wanted to split output between STDOUT and STDERR, I'd add two separate loggers each configured with a log-level filter.

> Instead of adding multiple confusing extension methods to the ILoggingBuilder, wouldn't it be better to have a SINGLE callback-based overload to .AddConsole that looks like this:

There's already an overload that takes a single argument. I like how it looks but I don't know how it would work.

> I would also like to suggest that ConsoleLoggerOptions would get another property that specifies the output writer by name:

Why make it obscure? Why not an enum? The console logger isn't logging to a file, that would be another logger implementation. The console logger will also never hand you a direct reference to the console directly because it defers writing to a later time.

@davidfowl 

> > Instead of adding multiple confusing extension methods to the ILoggingBuilder, wouldn't it be better to have a SINGLE callback-based overload to .AddConsole that looks like this:
> 
> There's already an overload that takes a single argument. I like how it looks but I don't know how it would work.

So let's add a overload with two arguments. Yes, I know that is less ideal, but I feel that is still better, since I would think of formatting as a more advanced scenario than the default one (and yes, that puts the option-configure-action in between default and advanced scenario). Also backwards-compatability-wise, that might be the easiest way to go forward?

> > I would also like to suggest that ConsoleLoggerOptions would get another property that specifies the output writer by name:
> 
> Why make it obscure? Why not an enum? 

Okay an enum might be a good idea, I agree. Like `ConsoleLoggerOuput.StdOut` and `.StdError`?

> The console logger isn't logging to a file, that would be another logger implementation. The console logger will also never hand you a direct reference to the console directly because it defers writing to a later time.

There have been cases where I liked the output format that the Console Logger gives me, but was too lazy to implememt the text logger myself :P And yes, I agree that I could have solved that problem by simply piping or tee-ing into a file. 

I don't ever expect to get an actual reference to the Console inside the formatter, but realistically the easiest way to abstract the write-to-out or write-to-error question is to end up with an implementation that uses TextWriter to write at the very end (using either Console.Out or Console.Error). And if you're using TextWriter internally anyways, you might just as well support specifying the TextWriter through configuration. *(Note: I am not talking about the colouring or formatting, I am talking at the final point where th worker thread actually writes a string to the Console. At that point you probably want to use a TextWriter instance, so that you don't need to think about whether you're writing to the Output or Error stream)*

> I don't ever expect to get an actual reference to the Console inside the formatter, but realistically the easiest way to abstract the write-to-out or write-to-error question is to end up with an implementation that uses TextWriter to write at the very end (using either Console.Out or Console.Error). And if you're using TextWriter internally anyways, you might just as well support specifying the TextWriter through configuration. (Note: I am not talking about the colouring or formatting, I am talking at the final point where the worker thread actually writes a string to the Console. At that point you probably want to use a TextWriter instance, so that you don't need to think about whether you're writing to the Output or Error stream)

I think it's a reasonable ask but its outside the scope of this change.

* Drop `Log` from names
* Rename `Default` so something that doesn't imply a subset relationship, such as `Simple`
* Implementers of `IConsoleFormatter` should use VT100 for colors
* On Windows 7 we still want to show colors, not VT100 escape sequences
* On Windows 10+ we want to see colors, not VT100 escape sequences, even if VT100 processing is off
* Should .NET 5 by default enable VT100 processing? @shirhatti will file an issue for that.

**Assembly:** Microsoft.Extensions.Logging.Abstractions.dll

```diff
 namespace Microsoft.Extensions.Logging
 {
+    public readonly struct LogEntry<TState>
+    {
+       public LogEntry(LogLevel logLevel,
+                       string category,
+                       EventId eventId,
+                       TState state,
+                       Exception exception,
+                       Func<TState, Exception, string> formatter);
+       public LogLevel LogLevel { get; }
+       public string Category { get; }
+       public EventId EventId { get; }
+       public TState State { get; }
+       public Exception Exception { get; }
+       public Func<TState, Exception, string> Formatter { get; }
+    }
}
```

**Assembly:** Microsoft.Extensions.Logging.Console.dll

```diff
 namespace Microsoft.Extensions.Logging
 {
     public static partial class ConsoleLoggerExtensions
     {
         public static ILoggingBuilder AddConsole(this ILoggingBuilder builder);
         public static ILoggingBuilder AddConsole(this ILoggingBuilder builder, Action<ConsoleLoggerOptions> configure);
+        public static ILoggingBuilder AddConsoleFormatter<TFormatter, TOptions>(this ILoggingBuilder builder)
+                                      where TFormatter : class, IConsoleFormatter where TOptions : ConsoleFormatterOptions;
+        public static ILoggingBuilder AddConsoleFormatter<TFormatter, TOptions>(this ILoggingBuilder builder, Action<TOptions> configure)
+                                      where TFormatter : class, IConsoleFormatter where TOptions : ConsoleFormatterOptions;
+        public static ILoggingBuilder AddSimpleConsole(this ILoggingBuilder builder, Action<SimpleConsoleFormatterOptions> configure);
+        public static ILoggingBuilder AddJsonConsole(this ILoggingBuilder builder, Action<JsonConsoleFormatterOptions> configure);
+        public static ILoggingBuilder AddSystemdConsole(this ILoggingBuilder builder, Action<ConsoleFormatterOptions> configure);
     }
 }
 namespace Microsoft.Extensions.Logging.Console
 {
+    public static partial class ConsoleFormatterNames
+    {
+        public const string Simple = "simple";
+        public const string Json = "json";
+        public const string Systemd = "systemd";
+    }
+    [ObsoleteAttribute("ConsoleLoggerFormat has been deprecated.", false)]
     public enum ConsoleLoggerFormat
     {
         Default = 0,
         Systemd = 1,
     }
     public partial class ConsoleLoggerOptions
     {
         public ConsoleLoggerOptions();
+        [ObsoleteAttribute("ConsoleLoggerOptions.DisableColors has been deprecated. Please use ColoredConsoleFormatterOptions.DisableColors instead.", false)]
         public bool DisableColors { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.Format has been deprecated. Please use ConsoleLoggerOptions.FormatterName instead.", false)]
         public ConsoleLoggerFormat Format { get; set; }
         public string FormatterName { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.IncludeScopes has been deprecated..", false)]
         public bool IncludeScopes { get; set; }
         public LogLevel LogToStandardErrorThreshold { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.TimestampFormat has been deprecated..", false)]
         public string TimestampFormat { get; set; }
+        [ObsoleteAttribute("ConsoleLoggerOptions.UseUtcTimestamp has been deprecated..", false)]
         public bool UseUtcTimestamp { get; set; }
     }
     [ProviderAliasAttribute("Console")]
     public partial class ConsoleLoggerProvider : ILoggerProvider, ISupportExternalScope, IDisposable
     {
         public ConsoleLoggerProvider(IOptionsMonitor<ConsoleLoggerOptions> options);
+        public ConsoleLoggerProvider(IOptionsMonitor<ConsoleLoggerOptions> options, IEnumerable<IConsoleFormatter> formatters);
         public ILogger CreateLogger(string name);
         public void Dispose();
         public void SetScopeProvider(IExternalScopeProvider scopeProvider);
     }
+    public partial class SimpleConsoleFormatterOptions : ConsoleFormatterOptions
+    {
+        public SimpleConsoleFormatterOptions();
+        public bool DisableColors { get; set; }
+        public bool SingleLine { get; set; }
+    }
+    public partial abstract ConsoleFormatter
+    {
+        protected ConsoleFormatter(string name);
+        public string Name { get; }
+        public abstract void Write<TState>(in LogEntry<TState> logEntry,
+                                           IExternalScopeProvider scopeProvider,
+                                           TextWriter textWriter);
+    }
+    public partial class JsonConsoleFormatterOptions : ConsoleFormatterOptions
+    {
+        public JsonConsoleFormatterOptions();
+        public JsonWriterOptions JsonWriterOptions { get; set; }
+    }
+    public partial class ConsoleFormatterOptions
+    {
+        public ConsoleFormatterOptions();
+        public bool IncludeScopes { get; set; }
+        public string TimestampFormat { get; set; }
+        public bool UseUtcTimestamp { get; set; }
+    }
}
```


> @davidfowl: If there's anything I can do to help prove out any designs, tests against Stackdriver etc, do let me know. Would love to help progress this.

@jskeet the above APIs made their way to preview 8. It would be great to get feedback while the feature is in preview. As for the built-in Json formatter. Here's a screenshot of how it wouldlook like:

screenshot below is: 
![image](https://user-images.githubusercontent.com/5897654/86962618-10981680-c118-11ea-9342-13bf23c5d44e.png)

for 
```c#
using (_logger.BeginScope(new { Message = "Hello" }))
using (_logger.BeginScope(new KeyValuePair<string, string>("key", "value")))
using (_logger.BeginScope("This is a scope message with number: {CustomNumber}", 11123))
{
    _logger.LogInformation(_ex, "exception message with {0}", "stacktrace");
}
```

Other samples:
![image](https://user-images.githubusercontent.com/5897654/86962879-72588080-c118-11ea-8a85-56bf971d93ec.png)

Sample usage:
```c#
using var loggerFactory = LoggerFactory.Create(builder =>
    {
        builder.AddJsonConsole(o =>
            {
                o.IncludeScopes = true;
                o.TimestampFormat = "HH:mm:ss ";
            });
    });

var logger = loggerFactory.CreateLogger<Program>();
using (logger.BeginScope(new { Message = "Hello" }))
using (logger.BeginScope(new KeyValuePair<string, string>("key", "value")))
using (logger.BeginScope("This is a scope message with number: {CustomNumber}", 11123))
{
    logger.LogInformation(exxx, "exception message with {0}", "stacktrace");
}
```

There is also the option to implement a custom formatter using the above APIs. This gist shows how to make a custom formatter: https://gist.github.com/maryamariyan/8fdf800318f61b1244b42c185b83b179



@maryamariyan: Great, thank you. I'll try it out next week.

Hi @maryamariyan, I've played with this and it is super great!
I hope you don't mind if I jump into this conversation with some personal observations, but I believe this aspects haven't been discussed yet.

I personally think that it is quite common to need the json to conform to a particular format (e.g. to meet the requirement of a 3rd party tool to ingest the logs or to be compatible with logs produced by other applications) or at least that happens quite a lot to me. It would help me to have some facility to create custom json formatters.
In particular, the current implementation solves a few problem that it would be nice to not have to solve again when implementing a custom one, like pooling the byte buffer (PooledByteBufferWriter is not publicly available), getting the `KeyValuePair`s out of properties and iterating on the scopes.
In my use case, I would also need to pull some of this properties or scopes and put them at top level, so ideally it would be nice to have a struct with all the required info already pulled out from the LogEntry so I can decide how to format iit and have a virtual method that receive it.

Maybe this is too specific and it should be solved externally from this formatter, like providing a pooled buffer solution for the json writer and maybe some easier API to get the `KeyValuePair`s out of the scopes (handling the edge cases which would be nice to handle as per below)

Regarding the provided `JsonConsoleFormatter`, I have a few questions:
- By default the Timestamp field is null. Why not having a default format (e.g. ISO 8601) so that it works well out of the box?
- If the scope is a string with a place holder, the rendered version doesn't get added. I think it is useful to have it (except the scenario when the content is only the placeholder).
- If there are multiple scopes which are a string with a place holder, the `{OriginalFormat}` get added multiple time, but having duplicated keys in JSON, while correct, it is generally not recommended (see [RFC8259 section 4](https://tools.ietf.org/html/rfc8259#section-4). Also I'm unsure if it makes sense to have `{OriginalFormat}` when the content is only the place holder and it gets pulled out as key.
- If the scope is a `KeyValuePair`, and specifically a `KeyValuePair<string, object>`, it doesn't get pulled out as key/value in the scope json, like it happens instead when using a string with only a placeholder or using `Dictionary<string, object>`, so that when you have only one property to add to the scope you don't have to either allocate or implement a custom `IReadOnlyCollection<KeyValuePair<string, object>>`.

Here is an extension of your example to better illustrate my points:

```csharp
using (logger.BeginScope(new { Message = "Hello" }))
using (logger.BeginScope(new KeyValuePair<string, string>("key", "value")))
using (logger.BeginScope(new KeyValuePair<string, object>("anotherkey", "anothervalue")))
using (logger.BeginScope(new Dictionary<string, object> { ["yetanotherkey"] = "yetanothervalue" }))
using (logger.BeginScope("A string"))
using (logger.BeginScope("This is a scope message with number: {CustomNumber}", 11123))
using (logger.BeginScope("{AnotherNumber}", 42))
{
    logger.LogInformation(new Exception(), "exception message with {0}", "stacktrace");
}
```
Output:
```json
{
  "Timestamp": "2020-07-19T20:21:33.8836859\u002B01:00",
  "EventId": 0,
  "LogLevel": "Information",
  "Category": "JsonLogging.Program",
  "Message": "exception message with stacktrace",
  "Exception": {
    "Message": "Exception of type \u0027System.Exception\u0027 was thrown.",
    "Type": "System.Exception",
    "StackTrace": [],
    "HResult": -2146233088
  },
  "0": "stacktrace",
  "{OriginalFormat}": "exception message with {0}",
  "Scopes": {
    "0": "{ Message = Hello }",
    "1": "[key, value]",
    "2": "[anotherkey, anothervalue]",
    "yetanotherkey": "yetanothervalue",
    "3": "A string",
    "CustomNumber": "11123",
    "{OriginalFormat}": "This is a scope message with number: {CustomNumber}",
    "AnotherNumber": "42",
    "{OriginalFormat}": "{AnotherNumber}"
  }
}
```

Thank you!

> By default the Timestamp field is null. Why not having a default format (e.g. ISO 8601) so that it works well out of the box?

We should do this for all console loggers not just JSON (maybe that's a breaking change but it seems small). Anyways I'm not opposed to that change but it's unrelated to JSON formatting.

> If there are multiple scopes which are a string with a place holder, the {OriginalFormat} get added multiple time, but having duplicated keys in JSON, while correct, it is generally not recommended (see RFC8259 section 4. Also I'm unsure if it makes sense to have {OriginalFormat} when the content is only the place holder and it gets pulled out as key.

That seems like a bug.

> If the scope is a KeyValuePair, and specifically a KeyValuePair<string, object>, it doesn't get pulled out as key/value in the scope json, like it happens instead when using a string with only a placeholder or using Dictionary<string, object>, so that when you have only one property to add to the scope you don't have to either allocate or implement a custom IReadOnlyCollection<KeyValuePair<string, object>>.

KeyValuePair isn't understood by any of the loggers, the contract is `IReadOnlyCollection<KeyValuePair<string, object>>`, I don't think that should be part of this change.

> Great, thank you. I'll try it out next week.

Oops - I hadn't realized that preview 8 isn't actually out yet. I'll wait until there's a preview I can install a little more simply than building it from source, but I'll try to jump on it promptly at that point.

@jskeet you don't need to wait, in fact:

https://github.com/dotnet/installer#installers-and-binaries

Add the dotnet5 nuget feed. Then add the package:

```xml
<PackageReference Include="Microsoft.Extensions.Logging.Console" Version="5.0.0-preview.8.20365.13" />
```



@davidfowl: Thanks for that. I assume that means using the absolute latest installer? Happy to do so, given how stable .NET Core has been for uninstalling things, just thought I'd check. (I'm assuming trying to use the preview 8 ASP.NET Core bits against the preview 7 .NET Core Runtime would be a bad idea...)

@jskeet you don't need to install anything, you can just add the feed and a reference to the package and it should work like magic. I'm trying it out right now on an ASP.NET Core 3.1 application 😄 

Aha! In that case, that makes it a slam dunk to try *today*. Thanks for clarifying!

> In particular, the current implementation solves a few problem that it would be nice to not have to solve again when implementing a custom one, like pooling the byte buffer (PooledByteBufferWriter is not publicly available), getting the KeyValuePairs out of properties and iterating on the scopes.

Issue https://github.com/dotnet/runtime/issues/33598 is tracking the ask to make PooledByteBufferWriter public.

Wahoo - tried it earlier, and it worked out of the box. I wasn't doing anything complicated, admittedly.

Thanks so much for this - I don't have any feedback on the API yet, as I'm not really deeply enough into ASP.NET Core logging (or the general logging abstraction) to have well-informed comments, but this definitely looks like it'll be a huge help.

@jskeet show us a screenshot or something 😄 

> @jskeet show us a screenshot or something 😄

I'll do better than that - tomorrow I'm going to start on a prototype of the actual `GoogleCloudLoggingConsoleFormatter` (with a briefer name if possible!) in https://github.com/googleapis/google-cloud-dotnet :)
Will cc you in the first PR (which I'm sure will do very little).

This really feels like a *huge* step forward.

Yeah, I'll adapt my Azure Pipelines logger to use this as well :)

@davidfowl: It took a little longer to get to this than expected, but there's a prototype PR here, including before/after screenshots:

https://github.com/googleapis/google-cloud-dotnet/pull/5200

Thanks again all for the feedback. I'll close this as complete as it should now satisfy the requested features described in the description. Any further feature requests or bugs can be tracked separate new issues.

Please add support for logging InnerException.

I've been looking forward to this being released with .NET 5. Is there any documentation on how to use these new console formatter options properly?

Hi @hannahchan - please see here:
https://docs.microsoft.com/dotnet/core/extensions/console-log-formatter
/cc @maryamariyan 