[Uri] Uri.IsWellFormedUriString() returns false for a URL which is correct

I have a C# (.Net Core 1.1) app that needs to check if a URL is valid. I used the Uri.IsWellFormedUriString() which works pretty well but have a doubt about this one below which **returns false**. It seems to me that the URL is perfectly valid?

```c#
Uri.IsWellFormedUriString("http://www.test.com/search/Le+Venezuela+b%C3%A9n%C3%A9ficie+d%27importantes+ressources+naturelles+%3A+p%C3%A9trole%2C+gaz%2C+mines", UriKind.Absolute)
```

I used the very same URL with the PHP function below which says the URL is correctly formatted:
```php
function filter_var($url, FILTER_VALIDATE_URL)
```

If I refer to the RFC3986 it seems this URL is correct. Am I missing something here?

I just ran into this issue at work and can add that using non-ascii characters like Å or ตั together with any of the RFC 3986 section 2.2 Reserved Characters fails, ! * ' ( ) ; : @ & = + $ , / ? # [ ].
E.g. Å*

We also just encountered this issue.

And I just noticed this is up-for-grabs. A friend and I could be interested in doing this. @karelz everything good for a PR? And on the documentation part, whose responsibility would be that? The pr author, or you guys? I imagine the latter?

For anyone that also encountered this issue on .Net Core, this may be of help: we tried every solution proposed out there (including the ones mentioned in this issue) and none worked for us. 

We thought of calling other language's libraries via interop, using regex, and other things, but ideally we wanted to stick to the .net implementation.

Thus, we came up with a workaround for the time being (while we don't fix the underlying bug): 
- Test if the string is a well formed relative URI (since the bug appears to only apply to absolute URIs)
- If it's not, test if it's a well formed absolute URI
- If it's also not, then then we `Uri.TryParse` the string, and check:
  - If the string was already URI encoded (for example, by decoding it and checking if it returns the same string)
  - If the `scheme + user info + host` forms a well formed absolute URI (the bug might still manifest itself here)
  - If the `path + query + fragment` forms a well formed relative URI (relative URIs are not affected by the bug)
  
This won't work for cases where the offending character combinations are present in the user info or host (such as `http://té%40t.com/` or `http://té%40t@domain.com/`); However, for us at least, having this work for the path+query+fragment part of the string was already enough.

It has total 13 customer reports (1 was offline) -- only 2 are upvotes of the top post (1 is the original post).

Can I ask everyone who've hit it to please upvote the top post? It will help us prioritize.

Moving it to .NET 7.0 as it has rather larger impact. cc @MihaZupan 

This URI is also failing on .NET 6.0

https://storage.googleapis.com/kocmoc/audio-archive/2021_10/2021_10_13%20-%20The%20Last%20Dive%20with%20%CE%91%CE%A7%CE%99%CE%9D%CE%9F%CE%99.mp3

@karelz .NET 6.0 was just released... having to wait for .NET 7 for a critical bug that should have been fixed 4 years ago is a bit ridiculous.

Closing in favour of https://github.com/dotnet/runtime/issues/72632