Consider removing minimum salt length requirement from Rfc2898DerivedBytes

The instance-based PBKDF2 implementation in `Rfc2898DerivedBytes` currently throws an `ArgumentException` if a user supplied salt is less than 8 bytes.

https://github.com/dotnet/runtime/blob/1a4675db08384e4f20cf4481e6eaf03e40f3d754/src/libraries/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Rfc2898DeriveBytes.cs#L17

I would propose to remove this limitation. Though I do not know the origin of this requirement, one can reasonably assume that it was added to help developers avoid making a mistake of providing an inadequate salt.

However, I think there are some issues surrounding this.

1. As far as minimums go, 8 (64-bits) is too low in the first place. NIST SP800-132 says it should be 16 bytes (so 128 bits). Following the recommendations of appendix A.2.1, even larger is often used and suggested. Raising the minimum would probably be a breaking change that has no reasonable work arounds, so 8 seems at best arbitrary, at worse insufficient.
2. The minimum may be mistakenly thought of as "safe". Since the implementation has a minimum, it's not a stretch to interpret that as a recommendation or at least a safety boundary (which as described above, is not suitable in 2021). This should be handled in documentation, not in code.
3. The static one-shot `Pbkdf2` that was recently added has no requirement on the minimum salt size.
4. The minimum forces developers to come up with alternative solutions when they are required to use a salt that is out of their control. aspnet had support for arbitrary salt sizes and had work arounds to support salt lengths less than 8. This was removed when it was switched to the one-shot, but shows evidence that some are working around the requirement.

as a note: the official Zip AES-256 file encryption specification uses PBKDF2 with a salt length of 128 bits

[RFC 2898, Sec. 4.1](https://datatracker.ietf.org/doc/html/rfc2898/#section-4.1), says the following.

```txt
Based on this, the following is recommended for salt selection:

      1. If there is no concern about interactions between multiple uses
         of the same key (or a prefix of that key) with the password-
         based encryption and authentication techniques supported for a
         given password, then the salt may be generated at random and
         need not be checked for a particular format by the party
         receiving the salt. It should be at least eight octets (64
         bits) long.
```

I suspect this is where the const value came from. But in context, this paragraph is just a recommendation, not a hard requirement. If anything, this probably should have been implemented as an analyzer ("are you really sure you meant to do this?"), not as a hard stop.

I'd be supportive of removing this restriction. We don't enforce a minimum key size on the `HMAC*` constructors, after all. We could also consider an analyzer if we really felt inspired to do so, but given that our crypto primitives usually assume people know what they're doing, that might not be warranted here.

> [RFC 2898, Sec. 4.1](https://datatracker.ietf.org/doc/html/rfc2898/#section-4.1), says the following.

If the recommendation is removing from the code it could be added to the .Net API docs.

