Add support for reading, decrypting, and creating COSE_Encrypt and COSE_Encrypt0

Implement COSE Encryption, [IETF RFC 8152, section 5](https://tools.ietf.org/html/rfc8152#section-5)

* [ ] Read and expose metadata for tagged and untagged COSE_Encrypt messages
* [ ] Read and expose metadata for tagged and untagged COSE_Encrypt0 messages
* [ ] Decrypt content using ECDiffieHellman
  * KDFs
    * [ ] HKDF-SHA256
    * [ ] HKDF-SHA512
  * Symmetric Algorithms
    * [ ] AES-GCM
    * [ ] AES-CCM
* [ ] Create new encrypted messages.


We haven't heard any compelling cases where this needs to be used yet, so we're moving this into the Future backlog. Please comment here if you have a scenario where the COSE Encrypt features are needed so that we can understand the use case and look into scheduling this work into a release.

Hi,

I don't know if this counts as a compelling case, but I create parsers for industrial IoT devices, and I'm currently working with devices that use COSE_Encrypt0 in their payloads. So, at least on an IoT server receiving messages from such devices this could be of help when decrypting the messages — at least if I've understood the scope of this story correctly.

This might be a rare need, and I'll have to anyway get around this on my own in this urgent case, but I thought I'd let you know about a real use case nonetheless.