[API Proposal]: System.Buffers.Text.Base64Url

### Background and motivation

Along with the well-known and oft-loved base64 encoding, [IETF RFC 4648 § 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5) also defines "Base 64 Encoding with URL and Filename Safe Alphabet," or **base64url** encoding. Base64Url is identical to the more common Base64 except that two characters are replaced so that every character is suitable for use in an URL or a filename on any platform. (`+` is replaced with `-`, and `/` is replaced with `_`.)

`System.Buffers.Text.Base64` includes methods for encoding binary data into base64 and decoding from base64, including with AVX2 and SSSE3 CPU optimizations, but no base64url. The alternatives are to run the text through `string.Replace` first, which is silly, or reimplement the entire encoding and decoding algorithm, which is what `Microsoft.AspNetCore.WebUtilities.WebEncoders.Base64UrlEncode`, `Microsoft.IdentityModel.Tokens.Base64UrlEncoder`, and countless other implementations have done.

My proposal is to add `System.Buffers.Text.Base64Url` as a high-performance companion to `System.Buffers.Text.Base64`, using the same optimized algorithms, but with alternate encoding and decoding tables.

### API Proposal

```C#
namespace System.Buffers.Text
{
    public static class Base64Url
    {
        public static System.Buffers.OperationStatus DecodeFromUtf8(System.ReadOnlySpan<byte> utf8, System.Span<byte> bytes, out int bytesConsumed, out int bytesWritten, bool isFinalBlock = true);
        public static System.Buffers.OperationStatus DecodeFromUtf8InPlace(System.Span<byte> buffer, out int bytesWritten);
        public static System.Buffers.OperationStatus EncodeToUtf8(System.ReadOnlySpan<byte> bytes, System.Span<byte> utf8, out int bytesConsumed, out int bytesWritten, bool isFinalBlock = true);
        public static System.Buffers.OperationStatus EncodeToUtf8InPlace(System.Span<byte> buffer, int dataLength, out int bytesWritten);
        public static int GetMaxDecodedFromUtf8Length(int length);
        public static int GetMaxEncodedToUtf8Length(int length);
    }
}
```

Note that the above is identical to the design of `System.Buffers.Text.Base64`.

### API Usage

```C#
string inputString = "Hi?>>> This is a test string";
byte[] input = System.Text.Encoding.ASCII.GetBytes(inputString);
byte[] output;
byte[] inputBack;

// Base64 version (exists today)
output = new byte[System.Buffers.Text.Base64.GetMaxEncodedToUtf8Length(input.Length)];
System.Buffers.Text.Base64.EncodeToUtf8(input, output, out int _, out int _);
inputBack = new byte[System.Buffers.Text.Base64.GetMaxDecodedFromUtf8Length(output.Length)];
System.Buffers.Text.Base64.DecodeFromUtf8(output, inputBack, out int _, out int _);

// Base64Url version
output = new byte[System.Buffers.Text.Base64Url.GetMaxEncodedToUtf8Length(input.Length)];
System.Buffers.Text.Base64Url.EncodeToUtf8(input, output, out int _, out int _);
inputBack = new byte[System.Buffers.Text.Base64Url.GetMaxDecodedFromUtf8Length(output.Length)];
System.Buffers.Text.Base64Url.DecodeFromUtf8(output, inputBack, out int _, out int _);
```

### Alternative Designs

The main alternative design here would be to extend the existing `System.Buffers.Text.Base64` methods with an extra optional parameter that lets the caller decide between Base64 and Base64Url encoding, but that seems unnecessarily cumbersome.

In addition, this proposed design does not include an interface for `Base64` and `Base64Url` to implement, though one could be added since their signatures are identical.

### Risks

Risk for this change seems extremely low. I chose to extract most of the code from `Base64` into a new private class `Base64Internal` and then `Base64` and `Base64Url` simply forward calls into `Base64Internal`. The performance impact should simply be one function call on the stack. The algorithms used in the existing implementation are unchanged. After compilation, the binary size should be only slightly larger: just a couple of class definitions, and six new encoding and decoding tables totaling 416 bytes.

[This commit](https://github.com/TravisSpomer/runtime/commit/ede33513e8bb20c94b93ea1c55d56524be7d7115) shows my proposed implementation of this API.

Your proposed implementation only works for lengths multiple of 4, correct? so you don't need to handle the padding, which is usually stripped from base64url after encoding and calculated and added after decoding.

This duplicates https://github.com/dotnet/runtime/issues/1658

---

> The alternatives are ...

You can also use https://www.nuget.org/packages/gfoidl.Base64/ which has vectorized paths for base64url too.

> Your proposed implementation only works for lengths multiple of 4, correct?

Sorry, I don't follow. Is that a comment about the original algorithm? I'm not proposing changing the existing algorithm in `Base64`; just a refactor so that it can be used with different encoding tables.

> This duplicates #1658

Oh, wow, I don't know how I didn't see that... I guess because I've never seen someone refer to it with spaces in "Base 64 URL" before. I went with this implementation (a separate class) because it seemed easier to understand and more likely to maintain the original code's performance characteristics.