What's the differences between `ClientWebSocket.CloseAsync` and `ClientWebSocket.CloseOutputAsync`?

The document is so bad.

https://learn.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket.closeasync?view=net-7.0
https://learn.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket.closeoutputasync?view=net-7.0

@stephentoub  Thanks, I saw it in the `WebSocket`'s page, add the details to `ClientWebSocket` maybe better.

@stephentoub  Sorry, after a quick look of RFC 6455 section 7, I still don't understand what's the differences of them, could you please explain them?

> I still don't understand what's the differences of them, could you please explain them?

As I wrote above:
> CloseOutputAsync sends the close frame. CloseAsync sends the close frame and also waits for a close response frame.

They both send a close frame, but then if a close frame hasn't been received yet from the other side, CloseAsync will continue to process messages until it gets a close frame, whereas CloseOutputAsync doesn't.

> CloseAsync will continue to process messages until it gets a close frame, whereas CloseOutputAsync doesn't.

Is this means `CloseAsync` will **not** shutdown the local WebSocket TCP connection until I call `webSocketClient.Dispose()`? And, `CloseOutputAsync` will shutdown immediately?

> Is this means CloseAsync will not shutdown the local WebSocket TCP connection until I call webSocketClient.Dispose()? And, CloseOutputAsync will shutdown immediately?

No.  The logic is essentially:

CloseOutputAsync:
- Send a close frame
- If a close frame has already been received, transition to a closed state and clean up / dispose.

CloseAsync
- Send a close frame if we haven't already sent one
- Read all incoming messages until a close frame is received
- Transition to a closed state and clean up / dispose

You can see the implementation used by ClientWebSocket (and by WebSocket.CreateFromStream) here:
https://github.com/dotnet/runtime/blob/32ea33964de6e6188aa62afcbc4b1f17f1dbf1ff/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L325-L362

For the benefit of others, I sort out the code to correctly close the `ClientWebSocket` code. If it is incorrect, please point it out, thank you.

```cs
using var client = new ClientWebSocket();

await client.ConnectAsync(...);

while (client.State == WebSocketState.Open /* && !token.IsCancellationRequested */) {
    var result = await client.ReceiveAsync(...);
    if (result.MessageType == WebSocketMessageType.Close)
        await client.CloseOutputAsync(...);

    // other codes 
}

if (client.State == WebSocketState.CloseReceived)
    await client.CloseOutputAsync(WebSocketCloseStatus.NormalClosure, ...);
else
    await client.CloseAsync(WebSocketCloseStatus.NormalClosure, ...);
```

Hi @stephentoub, I still have some doubts about this issue. Currently my code looks like this:

```cs
// Thread 1
while (client.State == WebSocketState.Open) {
    ...
    if (result.MessageType == WebSocketMessageType.Close)
        await client.CloseOutputAsync(WebSocketCloseStatus.NormalClosure, null, token); // Sometimes got exception here
    ...
}

// Thread 2
await client.CloseAsync(WebSocketCloseStatus.NormalClosure, null, CancellationToken.None);
```

When I call `CloseAsync` at thread 2, somtimes will got exception at thread 1: `System.Net.WebSockets.WebSocketException (0x80004005): The WebSocket is in an invalid state ('Closed') for this operation. Valid states are: 'Open, CloseReceived'`. 

I know this is because when I call `CloseOutputAsync` at thread 2 the client already `Closed`. My question is: Why the `ClientWebSocket` API does not provide a easy way to close websocket no matter what state the `client` is?