[API Proposal]: Add further validation to EmailAddressAttribute

### Background and motivation

My basic implementation is more for show and basic concept. The main goal is to validate that the email according to [RFC 3696, Section 3](https://datatracker.ietf.org/doc/html/rfc3696#section-3). Naming the method `IsValid` is really misleading if not outright incorrect. Right now [the method](https://github.com/dotnet/runtime/blob/main/src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/EmailAddressAttribute.cs#L18-L38) is just checking if there are two `@`, and makes sure it's not at the beginning or end. This isn't validation at all, but rather poor checks to make sure nobody fat fingers anything, as #15903 says.

I believe this attribute should be rewritten since the `EmailAddressAttribute` can be used with ASP.NET for easy email validation when handling user email's. There truly shouldn't be a reason why the user has to write their own tests and checks for the email when an attribute like this already exists in the core library.

### API Proposal

```cs
// Licensed to the .NET Foundation under one or more agreements.
// The .NET Foundation licenses this file to you under the MIT license.

using System.Linq;

namespace System.ComponentModel.DataAnnotations
{
    [AttributeUsage(AttributeTargets.Property | AttributeTargets.Field | AttributeTargets.Parameter, AllowMultiple = false)]
    public sealed class EmailAddressAttribute : DataTypeAttribute
    {
        public EmailAddressAttribute() : base(DataType.EmailAddress)
        {
            // Set DefaultErrorMessage not ErrorMessage, allowing user to set
            // ErrorMessageResourceType and ErrorMessageResourceName to use localized messages.
            DefaultErrorMessage = SR.EmailAddressAttribute_Invalid;
        }

        public override bool IsValid(object value)
        {
            if (value is null)
            {
                return false;
            }

            if (value is not string valueAsString)
            {
                return false;
            }

            // See https://datatracker.ietf.org/doc/html/rfc5321#section-4.5.3 for max email length. 64 for local part, 255 for domain part and 1 for @ for a grand total of 320.
            string username = valueAsString.Split('@')[0];
            string hostname = valueAsString.Split('@')[1];

            // Validate the host name part of the email address
            // TODO: Does not cover direct ip addresses in the host name
            if (Uri.CheckHostName(hostname) != UriHostNameType.Dns || hostname.Length > 255)
            {
                return false;
            }

            // Check if the username part of the email address doesn't contain any arbitrary characters
            // See https://datatracker.ietf.org/doc/html/rfc3696#section-3 for the list of allowed characters
            // I am not implementing this myself due to all the technicalities of the RFC. Instead I'll just be doing a basic sanity check which does not cover all edge cases.
            else if (!username.All(c => char.IsLetterOrDigit(c) || c == '.' || c == '-' || c == '_') || username.Length > 64)
            {
                return false;
            }

            int index = valueAsString.IndexOf('@');

            return
                index > 0 &&
                index != valueAsString.Length - 1 &&
                index == valueAsString.LastIndexOf('@');
        }
    }
}
```

### API Usage

```C#
[EmailAddressAttribute]
public string ValidEmailAddress = "lunar@example.com";

[EmailAddressAttribute]
public string InvalidEmailAddress = "lunar@some_god-forsaken()_url.insane";

[EmailAddressAttribute]
public string InvalidEmailAddress2 = "Lunar#Starstrum@example.com";
```     


### Risks

More exceptions being thrown?

Duplicate of #27592. This has been discussed multiple times before (see other duplicates of #27592) and is something we are not planning to change.