Jit can generate pointless movs

e.g.
```asm 
 mov    r8d,dword ptr [rax]  
 add    rax,4  
 mov    r8d,r8d                 ; pointless mov
 ...
 movzx  eax,byte ptr [rax]  
 mov    eax,eax                 ; pointless mov   
```
Example

The Checksum routine [Magma.Common/Checksum.cs](https://github.com/ProjectMagma/Magma/blob/53dd7f73986945c041b98ebf752fb842eddeb963/src/Magma.Common/Checksum.cs#L11-L94)

```csharp
// Internet Checksum as defined by RFC 791, RFC 793, RFC 1071, RFC 1141, RFC 1624
public static ushort Calcuate(ref byte buffer, int length)
{
    ref var current = ref buffer;
    ulong sum = 0;

    while (length >= sizeof(ulong))
    {
        length -= sizeof(ulong);

        var ulong0 = Unsafe.As<byte, ulong>(ref current);
        current = ref Unsafe.Add(ref current, sizeof(ulong));

        // Add with carry
        sum += ulong0;
        if (sum < ulong0)
        {
            sum++;
        }
    }

    if ((length & sizeof(uint)) != 0)
    {
        var uint0 = Unsafe.As<byte, uint>(ref current);
        current = ref Unsafe.Add(ref current, sizeof(uint));

        // Add with carry
        sum += uint0;
        if (sum < uint0)
        {
            sum++;
        }
    }

    if ((length & sizeof(ushort)) != 0)
    {
        var ushort0 = Unsafe.As<byte, ushort>(ref current);
        current = ref Unsafe.Add(ref current, sizeof(ushort));

        // Add with carry
        sum += ushort0;
        if (sum < ushort0)
        {
            sum++;
        }
    }

    if ((length & sizeof(byte)) != 0)
    {
        var byte0 = current;

        // Add with carry
        sum += byte0;
        if (sum < byte0)
        {
            sum++;
        }
    }

    // Fold down to 16 bits

    var uint1 = (uint)(sum >> 32);
    var uint2 = (uint)sum;

    // Add with carry
    uint1 += uint2;
    if (uint1 < uint2)
    {
        uint1++;
    }

    var ushort2 = (ushort)uint1;
    var ushort1 = (ushort)(uint1 >> 16);

    // Add with carry
    ushort1 = (ushort)(ushort1 + ushort2);
    if (ushort1 < ushort2)
    {
        ushort1++;
    }

    // Invert to get ones-complement result 
    return (ushort)~ushort1;
}
```
Generates asm with 3 pointless movs
```asm
 mov    rax,rcx  
 xor    ecx,ecx  
 cmp    edx,8  
 jl     00007FFB767741B4  
 add    edx,0FFFFFFF8h  
 mov    r8,qword ptr [rax]  
 add    rax,8  
 add    rcx,r8  
 cmp    rcx,r8  
 jae    00007FFB767741AF  
 inc    rcx  
 cmp    edx,8  
 jge    00007FFB7677419A  
 test   dl,4  
 je     00007FFB767741CE  
 mov    r8d,dword ptr [rax]  
 add    rax,4  
 mov    r8d,r8d                 ; pointless mov 
 add    rcx,r8  
 cmp    rcx,r8  
 jae    00007FFB767741CE  
 inc    rcx  
 test   dl,2  
 je     00007FFB767741E9  
 movzx  r8d,word ptr [rax]  
 add    rax,2  
 mov    r8d,r8d                 ; pointless mov   
 add    rcx,r8  
 cmp    rcx,r8  
 jae    00007FFB767741E9  
 inc    rcx  
 test   dl,1  
 je     00007FFB767741FE  
 movzx  eax,byte ptr [rax]  
 mov    eax,eax                 ; pointless mov   
 add    rcx,rax  
 cmp    rcx,rax  
 jae    00007FFB767741FE  
 inc    rcx  
 mov    rax,rcx  
 shr    rax,20h  
 add    eax,ecx  
 cmp    eax,ecx  
 jae    00007FFB7677420D  
 inc    eax  
 movzx  edx,ax  
 shr    eax,10h  
 movzx  eax,ax  
 add    eax,edx  
 movzx  eax,ax  
 cmp    eax,edx  
 jge    00007FFB76774224  
 inc    eax  
 movzx  eax,ax  
 not    eax  
 movzx  eax,ax  
 ret    
```
category:cq
theme:basic-cq
skill-level:intermediate
cost:medium
impact:medium

I'm getting a bunch of pointless moves when using `Unsafe.As` - but its slightly different from what is reported here so far, seems like JIT doesn't do copy propagation after `Unsafe.As`. Should I open a separate issue for that?

```assembly
; Benchmarks.Program.UnsafeCopyTest()
       sub       rsp,38
       xor       eax,eax
       mov       rdx,[rcx+8]
       cmp       dword ptr [rdx+8],0
       jle       short M00_L01
M00_L00:
       mov       rdx,[rcx+8]
       mov       r8,rdx
       mov       dword ptr [rsp+30],0F3F7A0C0 // loading constant here
       mov       r9d,[rsp+30]                 // ... moving
       mov       [rsp+28],r9d                 // ... stuff
       mov       r9d,[rsp+28]                 // ... around
       cmp       eax,[r8+8]
       jae       short M00_L02
       movsxd    r10,eax
       mov       [r8+r10*4+10],r9d            // ideally writing a constant here
       inc       eax
       cmp       [rdx+8],eax
       jg        short M00_L00
M00_L01:
       add       rsp,38
       ret
M00_L02:
       call      CORINFO_HELP_RNGCHKFAIL
       int       3
; Total bytes of code 78
```

<details><summary>source and further info</summary>

---

Produced by nightly build:
.NET Core SDK=5.0.100-preview.6.20273.3
.NET Core 5.0.0 (CoreCLR 5.0.20.27110, CoreFX 5.0.20.27110), X64 RyuJIT

Motivation is moving away from `ExplicitLayout`/ `FieldOffset` unions to a more programmer friendly API. The idea is to declare storage as `Color` array/span being byte order agnostic, and actually code being programmed using structs with concrete byte order.

Generally it seems to work really well. Code generated for `MemoryMarshal.Cast(Span)` and `ref Unsafe.As` optimizes away really well, just by-value `Unsafe.As` seems to generate a lot of redundant moves.

Note that it is possible to work around the problem by casting the LHS of the assignment `ColorMemory[i] = ...` via `ref Unsafe.As` into the correct type, but thats not possible in all situations, sometimes you do want by-value conversion, and having this generate significantly slower code is annoying (measured factor 2x-4x slower in different code snippets)

```csharp
using System;
using System.Runtime.CompilerServices;
using BenchmarkDotNet.Attributes;
using BenchmarkDotNet.Running;

namespace Benchmarks
{
    [DisassemblyDiagnoser(printSource: true)]
    public class Program
    {
        private Color[] ColorMemory;

        public Program()
        {
            ColorMemory = new Color[1 << 20];
        }

        [Benchmark]
        public void UnsafeCopyTest()
        {
            for (int i = 0; i < ColorMemory.Length; i++)
                ColorMemory[i] = ColorARGB.SomeColor;
        }

        public static void Main()
        {
            BenchmarkRunner.Run<Program>();
        }
    }

    public struct Color
    {
        public int Value;
    }

    public struct ColorARGB
    {
        public static explicit operator ColorARGB(uint color) => Unsafe.As<uint, ColorARGB>(ref color);
        public static implicit operator Color(ColorARGB color) => Unsafe.As<ColorARGB, Color>(ref color);

        public static ColorARGB SomeColor => (ColorARGB)0xF3F7A0C0;

        public byte B;
        public byte G;
        public byte R;
        public byte A;
    }
}
```

</details>

Most likely the root cause is residual "address exposure" that is blocking promotion of some of the intermediate temp structs. Will update once I've had a chance to confirm/refute.

@AndyAyersMS got a chance to look at it? Otherwise your guess sounds like it has a separate root cause and probably should get its own issue?

@weltkante Thanks for the reminder. 

I haven't looked yet.  Let me see if can find time in the next few days.

Eugh https://twitter.com/uops_info/status/1367961302845386752

> I just noticed that with a recent microcode update, #Intel Ice Lake CPUs don't perform 'move elimination' any more for GPR registers. This is probably related to the ICL065 erratum

ICL065 erratum says:

![image](https://user-images.githubusercontent.com/1142958/113468686-a2327b80-943f-11eb-92d0-c7da198e2461.png)


Will look into this next as I've been doing work to remove unnecessary `movsx` / `movzx` instructions lately.

The emitter already has a mechanism for eliminating unnecessary `mov` instructions.

```cpp
//------------------------------------------------------------------------
// AreUpper32BitsZero: check if some previously emitted
//     instruction set the upper 32 bits of reg to zero.
//
// Arguments:
//    reg - register of interest
//
// Return Value:
//    true if previous instruction zeroed reg's upper 32 bits.
//    false if it did not, or if we can't safely determine.
//
// Notes:
//    Currently only looks back one instruction.
//
//    movsx eax, ... might seem viable but we always encode this
//    instruction with a 64 bit destination. See TakesRexWPrefix.

bool emitter::AreUpper32BitsZero(regNumber reg)
```

Its current implementation only looks at the last emitted instruction to see if its destination register is zero-extended 32-bits.

I did an experiment by allowing to look up to 4 previously emitted instructions to determine if the given register is zero-extended 32-bits. This eliminated the `mov` instructions that were mentioned in this issue's description.

I don't think it's trivial to try to resolve this issue in the earlier phases. In morph, it would either require removing `CAST` nodes or adding a new flag to force them to be a no-op. Removing `CAST` nodes in morph is troublesome and can lead to bad HIR. Adding a flag adds more complexity. Lowering could be possible, but we need a way to track the upper bits.

As of now, I think simply extending the existing logic in `AreUpper32BitsZero` would be the way to go.