Web Sockets: WebSocketError.Faulted is uninformative: Add and use ProtocolError and InvalidEncodedText

### Description

When constructing a WebSocketException, it is possible to specify a [WebSocketError](https://learn.microsoft.com/en-us/dotnet/api/system.net.websockets.websocketerror?view=net-10.0).  One of these is `WebSocketError.Faulted`, "Indicates a general error."

However, that produces uninformative stacktraces (example below in "Actual behavior") that do not make the specific problem clear.

In this issue, I am suggesting 2 new WebSocketError values, `WebSocketError.ProtocolError` and `WebSocketError.InvalidEncodedText` (recommended uses described below).

This is technically a breaking change, since callers could be doing control flow based on WebSocketException.WebSocketErrorCode and expecting WebSocketError.Faulted specifically.  However, I think that will be very rare in practice (especially because they would be expecting the most generic value), and the change will improve troubleshooting overall.

I didn't go through BrowserWebSocket (which does use WebSocketError.Faulted), ClientWebSocket (doesn't appear to use WebSocketError.Faulted), or other classes, so it may be worthwhile to expand this to include them.

Unlike the close codes, I do not believe these error codes are defined in the RFCs (see e.g. [RFC 6455 sec. 8](https://datatracker.ietf.org/doc/html/rfc6455#section-8)).

If WebSocketError.Faulted is used with no custom message, it [maps to](https://github.com/dotnet/runtime/blob/1818a74f437228b2f1b5fa6dba2f22c2de049a74/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/WebSocketException.cs#L136) "An exception caused the WebSocket to enter the Aborted state. Please see the InnerException, if present, for more details." ([Strings.resx](https://github.com/dotnet/runtime/blob/1818a74f437228b2f1b5fa6dba2f22c2de049a74/src/libraries/System.Net.WebSockets/src/Resources/Strings.resx#L69)).

This is vague.  If there's no inner exception, the message is also a little circular (in that case, the exception causing it to Abort is this WebSocketException itself).

For case 2 below, the stacktrace does not provide any more insight into the specific error (in that case a text encoding error).

There are currently 5 uses of CloseWithReceiveErrorAndThrowAsync (private to ManagedWebSocket), which is one way the class throws WebSocketException:
1. `ReceiveAsyncPrivate` - [`TryParseMessageHeaderFromReceiveBuffer` failure](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L849):
* Currently - `WebSocketError.Faulted`, with specific message and no inner exception.
* Could be new `WebSocketError.ProtocolError`, which mirrors `WebSocketCloseStatus.ProtocolError`.  Can not be `WebSocketError.HeaderError`, since that is defined to refer to HTTP-level headers, not within-protocol WebSocket headers.
2. `ReceiveAsyncPrivate` - [Payload not valid UTF-8](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L983):
* Currently `WebSocketError.Faulted`, with no specific message or inner exception.
* I recommend a new `WebSocketError.InvalidEncodedText`.
3. `HandleReceivedCloseAsync` - [Incorrect close payload length](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L1088):
* Currently `WebSocketError.Faulted`, with no specific error message or inner exception
* I recommend a new `WebSocketError.ProtocolError` (same as 1 above)
4. `HandleReceivedCloseAsync` - [Invalid close status](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L1105):
* Currently `WebSocketError.Faulted`, with no specific error message or inner exception
* I recommend a new `WebSocketError.ProtocolError` (same as 1 above).
5. `HandleReceivedCloseAsync` - [Failed to decode close status description as valid UTF-8](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L1116):
* Currently `WebSocketError.Faulted`, with an inner `DecoderFallbackException`, but no specific error message
* I recommend a new `WebSocketError.InvalidEncodedText` (same as 1 above).

I also grepped for `new WebSocketException` in ManagedWebSocket.cs.  Other than `CloseWithReceiveErrorAndThrowAsync`, they are all `WebSocketError.ConnectionClosedPrematurely`.  I don't see any necessary adjustments for these.

### Reproduction Steps

For example 2 above ("Payload not valid UTF-8"), execute this to send non-UTF-8 bytes **to** a .NET 8 WebSocket server.  

**IMPORTANT**: The exception in "Actual behavior" will be triggered on the receiving **server**, not on the **client** running the SendAsync. (EDITED)

```cs
await _webSocket.SendAsync(
    buffer: new ArraySegment<byte>( Encoding.Unicode.GetBytes( "🙂" ) ),
    messageType: WebSocketMessageType.Text,
    endOfMessage: true,
    cancellationToken: CancellationToken.None
);
```

### Expected behavior

For example 2 above ("Payload not valid UTF-8"):

**IMPORTANT**: The exception will be triggered on the receiving **server**, not on the **client** running the SendAsync. (EDITED)

```text
System.Net.WebSockets.WebSocketException (0x80004005): The WebSocket message's payload or field contained invalid data where UTF-8-encoded text was expected.
   at System.Net.WebSockets.ManagedWebSocket.CloseWithReceiveErrorAndThrowAsync(WebSocketCloseStatus closeStatus, WebSocketError error, String errorMessage, Exception innerException)
   at System.Net.WebSockets.ManagedWebSocket.ReceiveAsyncPrivate[TResult](Memory`1 payloadBuffer, CancellationToken cancellationToken)
   at System.Runtime.CompilerServices.PoolingAsyncValueTaskMethodBuilder`1.StateMachineBox`1.System.Threading.Tasks.Sources.IValueTaskSource<TResult>.GetResult(Int16 token)
   at System.Threading.Tasks.ValueTask`1.ValueTaskSourceAsTask.<>c.<.cctor>b__4_0(Object state)
--- End of stack trace from previous location ---
```

### Actual behavior

**IMPORTANT**: The exception will be triggered on the receiving **server**, not on the **client** running the SendAsync. (EDITED)

```text
System.Net.WebSockets.WebSocketException (0x80004005): An exception caused the WebSocket to enter the Aborted state. Please see the InnerException, if present, for more details.
   at System.Net.WebSockets.ManagedWebSocket.CloseWithReceiveErrorAndThrowAsync(WebSocketCloseStatus closeStatus, WebSocketError error, String errorMessage, Exception innerException)
   at System.Net.WebSockets.ManagedWebSocket.ReceiveAsyncPrivate[TResult](Memory`1 payloadBuffer, CancellationToken cancellationToken)
   at System.Runtime.CompilerServices.PoolingAsyncValueTaskMethodBuilder`1.StateMachineBox`1.System.Threading.Tasks.Sources.IValueTaskSource<TResult>.GetResult(Int16 token)
   at System.Threading.Tasks.ValueTask`1.ValueTaskSourceAsTask.<>c.<.cctor>b__4_0(Object state)
--- End of stack trace from previous location ---
```

### Regression?

_No response_

### Known Workarounds

_No response_

### Configuration

.NET 8 on Windows.  I don't believe it is OS- or hardware-specific.

### Other information

_No response_

cc: @dotnet/ncl

I understand that this is requesting a change to the public API surface, which would take some time (even if viewed favorably).

An interim improvement would be:

When constructing any `WebSocketException` using the generic `WebSocketError.Faulted` (especially those without an inner exception), specify a custom error message, while leaving it as `WebSocketError.Faulted`.

As an example: Protocol errors reported by `TryParseMessageHeaderFromReceiveBuffer` [are already thrown](https://github.com/dotnet/runtime/blob/7f49565b668b93492181b98572be79c54448cd68/src/libraries/System.Net.WebSockets/src/System/Net/WebSockets/ManagedWebSocket.cs#L849) with `WebSocketError.Faulted` and custom messages.

I believe the default error message from auto-mapping `WebSocketError` will not be displayed in the `ToString` representation if a custom message is passed to the `WebSocketException`. However, the `WebSocketErrorCode` will still be available.

IMO A reason to add enum values would be if you expected to programmatically react differently to different sorts of errors.
You wouldn't do that if you got an exception that the message isn't valid UTF8 - it indicates that your code was wrong, not something to react to on the fly.

We should, however, improve the error messages here, there's no reason we can't include them even with existing error codes.
Which particular flavour of protocol violation occurred doesn't matter, but getting a good exception message telling you what went wrong if you sent invalid UTF8 would be good.

@MihaZupan In the original issue, I didn't make an important point clear (now edited).  Although my sample code intentionally sends invalid UTF-8 (as a reproduction), the encoding exception is on the **receiving** side (note it's in `ReceiveAsyncPrivate` (or `HandleReceivedCloseAsync`, but I didn't provide a repro for that case)). (There is no encoding exception on the *sending* side, for my reproduction.)

It's not a coding error on the computer (recipient) where the exception occurs.  It's invalid data coming over the wire.

Therefore, I do think it's worth tracking the cause of the error with a code (`WebSocketError.InvalidEncodedText`), if only for log analytics.

I tend to agree with "Which particular flavour of protocol violation occurred doesn't matter".  I think it's worth adding `WebSocketError.ProtocolError`, but I don't think we need pinpoint codes for every specific protocol violation.

I definitely agree that error messages can be updated right away (whether or not enum values are added later).