Cache and reuse auth credentials

Per RFC 7235, section 2.2:

"If a prior request has been authorized, the user agent MAY reuse the same credentials for all other requests within that protection space..."

The rules are slightly different for basic vs digest, and proxy vs regular auth, but the basic issue is the same.

The managed handler isn't doing this today, which will cause additional round trips to reauthenticate subsequent requests.  

This may be more important for proxy auth, since currently we are forcing every proxied request to reauthenticate.