NullReferenceException in CryptographicAttributeObject when AsnEncodedData has null Oid

Consider the following scenario:

```csharp
var oid = new Oid("2.16.840.1.101.3.4.2.1");

var x = new CryptographicAttributeObject(
    oid, new AsnEncodedDataCollection(
        new AsnEncodedData(new byte[] { 1, 2, 3 })));
```

This will fail with `NullReferenceException`:

```
System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Security.Cryptography.CryptographicAttributeObject..ctor(Oid oid, AsnEncodedDataCollection values)
```

Looks like error originates comes from https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Security.Cryptography.Pkcs/src/System/Security/Cryptography/CryptographicAttributeObject.cs#L32-L33

> Seems like then that asn.Oid!.Value should be asn.Oid?.Value in the string.Equals and in Format for throwing the exception.

Yes, that fixes the immediate problem.

However, I think check is 1) invalid and 2) ineffective:

1. I don't see any reason why all value of a signed attribute must have the same OID as the attribute itself. [All RFC5652 says](https://tools.ietf.org/html/rfc5652#page-13) is:

>    The fields of type SignedAttribute and UnsignedAttribute have the following meanings:
> - attrType indicates the type of attribute.  It is an object identifier.
> - attrValues is a set of values that comprise the attribute.  The type of each value in the set can be determined uniquely by attrType.  The attrType can impose restrictions on the number of items in the set.

2. You can bypass the construction validation by adding values to the `AsnEncodedDataCollection` _after_ invoking the constructor

```csharp
// Get the hash values
var attributeValues = new AsnEncodedDataCollection();

signer.SignedAttributes.Add(
    new CryptographicAttributeObject(
        SomeOid,
        attributeValues));

attributeValues.Add(
    new AsnEncodedData(
        OtherOid,
        someValue));
```

This configuration exists in the wild; code signatures embedded in MACH objects (macOS/iOS apps) can have a signed attribute with OID `1.2.840.113635.100.9.2` which has two values, one with OID `2.16.840.1.101.3.4.2.1` and another `1.3.14.3.2.26`.

> ode signatures embedded in MACH objects (macOS/iOS apps) can have a signed attribute with OID 1.2.840.113635.100.9.2 which has two values, one with OID 2.16.840.1.101.3.4.2.1 and another 1.3.14.3.2.26.

Isn't that a higher level collection type though on `SignerInfo`? Wouldn't that surface as `CryptographicAttributeObjectCollection` which would contain multiple `CryptographicAttributeObject`?

> Isn't that a higher level collection type though on SignerInfo?

It is one of the signed attributes, together with `contentType`, `signingTime` and `messageDigest`.
 
> Wouldn't that surface as CryptographicAttributeObjectCollection which would contain multiple CryptographicAttributeObject?

Well, since they are signed attributes, the only way to set them is via `CmsSigner.SignedAttributes`, which allows for `CryptographicAttributeObject` but not `CryptographicAttributeObjectCollection`.

With the code above, I can create signed attributes which consist of multiple values (e.g. a set with two sequences). I end up with something like this:

```
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.3 contentType (PKCS #9)
  SET (1 elem)
    OBJECT IDENTIFIER 1.2.840.113549.1.7.1 data (PKCS #7)
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.5 signingTime (PKCS #9)
  SET (1 elem)
    UTCTime 2018-08-02 14:26:04 UTC
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.4 messageDigest (PKCS #9)
  SET (1 elem)
    OCTET STRING (32 byte) 3970F5957EDF119C481ADEB0C26E0B0261751CEBDF1E867D59E15BEF779DADAA
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113635.100.9.2
  SET (2 elem)
    SEQUENCE (2 elem)
      OBJECT IDENTIFIER 1.3.14.3.2.26 sha1 (OIW)
      OCTET STRING (20 byte) B1582ED82132F37E3C05953DD60500A538394806
    SEQUENCE (2 elem)
      OBJECT IDENTIFIER 2.16.840.1.101.3.4.2.1 sha-256 (NIST Algorithm)
      OCTET STRING (32 byte) 41F4C256E014B36F9AB6319B129C3B58B5F9B4578FFB4C77EA39730820C8759D
```

__but__, I want the sha-256 hash to be the first item in the set, i.e.:

```
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.3 contentType (PKCS #9)
  SET (1 elem)
    OBJECT IDENTIFIER 1.2.840.113549.1.7.1 data (PKCS #7)
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.5 signingTime (PKCS #9)
  SET (1 elem)
    UTCTime 2018-08-02 14:26:04 UTC
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113549.1.9.4 messageDigest (PKCS #9)
  SET (1 elem)
    OCTET STRING (32 byte) 3970F5957EDF119C481ADEB0C26E0B0261751CEBDF1E867D59E15BEF779DADAA
SEQUENCE (2 elem)
  OBJECT IDENTIFIER 1.2.840.113635.100.9.2
  SET (2 elem)
    SEQUENCE (2 elem)
      OBJECT IDENTIFIER 2.16.840.1.101.3.4.2.1 sha-256 (NIST Algorithm)
      OCTET STRING (32 byte) 41F4C256E014B36F9AB6319B129C3B58B5F9B4578FFB4C77EA39730820C8759D
    SEQUENCE (2 elem)
      OBJECT IDENTIFIER 1.3.14.3.2.26 sha1 (OIW)
      OCTET STRING (20 byte) B1582ED82132F37E3C05953DD60500A538394806
```

Whatever I do, `SignedCms.ComputeSignature` seems to invert the order of the elements in the set.

It looks like the elements in the set are being sorted as octet strings; but this encoding rule applies to set-of values and not set values. It is my understanding that set values should be sorted by tags. Since both elements in the set have the same tag (sequence), `SignedCms.ComputeSignature` inverting their order is unexpected.

Is there a way to make `SignedCms` preserve the order of values of a signed attribute? This is (unfortunately) a hard requirement for me. Bouncy Castle allows me to do so.

> It looks like the elements in the set are being sorted as octet strings

Yeah, the sorting of SET OF has come up a few times, such as here. https://github.com/dotnet/runtime/issues/32558#issuecomment-589159239 which goes a bit in to the justification.

To my knowledge there is no way for you to control this sorting using the higher-level CMS APIs.

> Yeah, the sorting of SET OF has come up a few times, such as here. #32558 (comment) which goes a bit in to the justification.

Yeah, with the exception that in this case, it's a SET being sorted, not a SET OF, so there isn't really a standard you can point to to justify the sorting, right?

> To my knowledge there is no way for you to control this sorting using the higher-level CMS APIs.

Any chance that this could become controllable, then? I'd _really_ like to move away from Bouncy Castle, and this is the only thing standing in the way.

I was stepping through the code in the debugger, and the values appear to be normalized by roundtripping them through a AsnReader/AsnWriter, is that where the reordering would happen?

OK - it appears this is caused by the `AsnWriter` and can easily be reproduced. I created #44216 for the ordering as this discussion is getting a bit off-topic.

> not a SET OF

Hmm, I'm having trouble understanding how this is a SET and not a SET OF. From [RFC 5652 Section 5.3](https://tools.ietf.org/html/rfc5652)

<pre>
SignedAttributes ::= <strong>SET SIZE (1..MAX) OF</strong> Attribute

...

Attribute ::= SEQUENCE {
    attrType OBJECT IDENTIFIER,
    attrValues <strong>SET OF</strong> AttributeValue }
</pre>

Ah yes, you're right. I stand corrected. And, the RFC also states: 

```
SignedAttributes MUST be DER encoded, even if the rest of the
structure is BER encoded.
```

Appears to be a quirk in Apple's code signing mechanism, then.


Hello! I'd like to pick this up. So we're looking to change the use of the argument in the `string.equals`, and return a more descriptive exception? 

> should this wait for some discussion?

No time like the present.

The issue ends up being this construct:

```
new AsnEncodedDataCollection(
        new AsnEncodedData(new byte[] { 1, 2, 3 }))
```

The inner `AsnEncodedData` is constructed without an `Oid`, it just has octets. So this `Oid` is `null`:


```csharp
foreach (AsnEncodedData asn in values)
{
//                         ↓ this one
    if (!string.Equals(asn.Oid!.Value, oid.Value, StringComparison.Ordinal))
```

The null-forgiving operator kind of highlights this was possible. Some other notes though:

1. This is in System.Security.Cryptography.Pkcs. This assembly is interesting because it tries to be as-compatible with .NET Framework as possible. So even though another fix might be "right", a fix that doesn't cause a huge behavior change between the two is probably preferable. Part of me wondered "if there is no OID on the `AsnEncodedData` could we assume that it is the OID of the outer `AsnEncodedDataCollection`. That is an example of a change that might not get accepted.
 
2. A safer change is to probably just "throw a better error". Like

    ```csharp
    if (asn.Oid is null)
    {
        throw new ArgumentException(SR.SomeUsefulMessage, nameof(values));
    } 
    // The rest of the code
    ```

3. The tests for this execute against .NET Framework, too.
    https://github.com/dotnet/runtime/blob/6072e4d3a7a2a1493f514cdf4be75a3d56580e84/src/libraries/System.Security.Cryptography.Pkcs/tests/System.Security.Cryptography.Pkcs.Tests.csproj#L4

    The .NET Framework will not get any changes or fixes for this. So when you write your tests for this, you need to either write the test so that it only runs on .NET Core / .NET, or handle both. So your test could have an assertion like:

    ```csharp
     #if NETCOREAPP 
     AssertExtensions.Throws<ArgumentException>("values", () => { /* your test code */ });
     #else // test existing .NET Framework behavior
     Assert.Throws<NullReferenceException>(() => { /* your test code */ });
     #endif
     ```

That's at least how I would think about approaching this. 


Awesome, I'll start looking at it. Thanks for the starting points!