.Net Core 3.1 HTTPClient Auto Redirect changes POST to GET on 301/ 302 Redirect

as the title suggests, when I make a POST, I get a 302 from the server and if I have AllowAutoRedirect = True then the httpclient follows the redirect but this time makes a GET instead of keeping the original POST request. 

This is by design.  From the HTTP specification:
https://tools.ietf.org/html/rfc2616#page-62
```
 most existing user agent implementations treat 302 as if it were a 303
 response, performing a GET on the Location field-value regardless
 of the original request method
```

Can you please explain why this is by design? shouldn’t it keep the request as such and try it? Similar requests in Python seems to do this automatically. So if this is by design then one would have to disable allow redirects right? So what is the point of having auto redirects =true? 

> This is by design:
> 
> https://github.com/dotnet/runtime/blob/8ddc3e11454b1f4cd4df27003d1bbfbb1212e9d1/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/RedirectHandler.cs#L143-L155
> 
> From the HTTP specification:
> https://tools.ietf.org/html/rfc2616#page-62
> 
> ```
>  most existing user agent implementations treat 302 as if it were a 303
>  response, performing a GET on the Location field-value regardless
>  of the original request method
> ```

Even in the link you sent highlights this as a BUG. Please see this:
Note: When automatically redirecting a POST request after
      receiving a 301 status code, some existing HTTP/1.0 user agents
      will **erroneously** change it into a GET request.

See the updated RFC here: https://tools.ietf.org/html/rfc7231#section-6.4

>Note: In HTTP/1.0, the status codes 301 (Moved Permanently) and
      302 (Found) were defined for the first type of redirect
      ([RFC1945], Section 9.3).  Early user agents split on whether the
      method applied to the redirect target would be the same as the
      original request or would be rewritten as GET.  Although HTTP
      originally defined the former semantics for 301 and 302 (to match
      its original implementation at CERN), and defined 303 (See Other)
      to match the latter semantics, prevailing practice gradually
      converged on the latter semantics for 301 and 302 as well.  The
      first revision of HTTP/1.1 added 307 (Temporary Redirect) to
      indicate the former semantics without being impacted by divergent
      practice.  Over 10 years later, most user agents still do method
      rewriting for 301 and 302; therefore, this specification makes
      that behavior conformant when the original request is POST.

Thank you for pointing that out. It’s funny though, basically saying everyone is doing it wrong so basically lets make that right. :-) 
I guess I will make the code changes on my end to capture this and handled it. 

>t’s funny though, basically saying everyone is doing it wrong so lets make that right. :-)

Basically it is this: https://en.wikipedia.org/wiki/De_facto_standard
