[Cookie] CookieContainer does not accept Expires at year 9999, ignores cookie

<!--This is just a template - feel free to delete any and all of it and replace as appropriate.-->

### Description
I was implementing a client for a website, and noticed that two cookies were not set in my HttpClients `CookieCollection`. Further investigation revealed that the `Expires` value must be a valid .NET DateTime to be considered valid. If this fails, the entire cookie is silently discarded.

* [CookieParser.cs](https://github.com/dotnet/runtime/blob/44cf9459f4e846777434875943fd280cadc515a1/src/libraries/Common/src/System/Net/CookieParser.cs#L650-L659) discards invalid datetime's
* This [other issue](https://github.com/dotnet/runtime/issues/25364) is also related to Expires, but this time the TZ - Twitter fixed their issue before .NET made a change, though.

Ultimately, I don't know _what_ to do with this date - I may even ask the site to change their end.. Maybe a too-large-date can be parsed as `DateTime.MaxValue` ?

I've workarounded by parsing cookies myself (string replacing the year, then calling `CookieCollection.SetCookies(..)` )

### Configuration
I'm running .NET 5.0, but I think this applies everywhere.

### Live examples
I'm working with this site: https://nemlig.com. When visited, they put in a cookie like this:

> set-cookie: IVCookieBasketKey=IVCookieBasketKey=a1396e5f-1e4c-43a3-8ee7-e228769982d3; expires=Fri, 31-Dec-9999 23:59:59 GMT; path=/; secure
> set-cookie: IVCookieBasketKeyId=IVCookieBasketKeyId=579244915; expires=Fri, 31-Dec-9999 23:59:59 GMT; path=/; secure

### Other information
[RFC6265 Section 5.2.1](https://tools.ietf.org/html/rfc6265#section-5.2.1) specifies that Cookies Expires attribute must have a `cookie-date`, which is defined in [5.1.1](https://tools.ietf.org/html/rfc6265#section-5.1.1) and merely sets the year as:

> year            = 2*4DIGIT ( non-digit *OCTET )

So in this RFC, the year can be anything from 0000 to 9999 (or 2-digits).. 

Ironically, the site in question is coded in ASP.Net, and runs on IIS 10.0.

I couldn't figure out the best area label to add to this issue. If you have write-permissions please help me learn by adding exactly one [area label](https://github.com/dotnet/runtime/blob/master/docs/area-owners.md).

This may actually be a timezone issue. When I'm testing locally (Europe/Copenhagen, UTC+01:00), I get the following:

Invalid:
> DateTime.TryParse("Fri, 31-Dec-9999 23:59:59 GMT", CultureInfo.InvariantCulture, DateTimeStyles.AllowWhiteSpaces, out DateTime expires)

Valid:
> DateTime.TryParse("Fri, 31-Dec-9999 22:59:59 GMT", CultureInfo.InvariantCulture, DateTimeStyles.AllowWhiteSpaces, out DateTime expires)

And from this, the DateTime I get is: `31-12-9999 23:59:59`, Kind: `Local`

So.. ehm.. if I set my local timezone to UTC, it'll probably work because `Local` won't be +1 hour.

I've made this PR that converts the DateTime to a UTC kind, as long as there is a timezone specified. Expires values should always have GMT as their timezone, so this is a no-op conversion. It will mean that anyone reading the Cookie's Expires value will receive a different DateTime back.

Triage: @LordMike do you know how common is to use this value? How do browsers behave?

I have noticed this on one site - but I only notice it when it breaks for me ..

I know for a fact that FF will happily accept this value and move on. It processes the cookie as expected. As this site is well trafficked, and the cookie is essential, I assume _all_ browsers handle this "correctly".

I made a [search using the web crawler, Shodan.io](https://www.shodan.io/search?query=%22set-cookie%22+%22expires%3DFri%2C+31-Dec-9999+23%3A59%3A59+GMT%22).

It seems to me (barring any weirdness in my search) that approx 64k ips set a cookie with expiry in 9999. So I'd say it is somewhat common.

The linked PR #45558 makes sense to me. RFC for [Expires](https://tools.ietf.org/html/rfc6265#section-5.2.1) says the [date must be interpreted as UTC](https://tools.ietf.org/html/rfc6265#section-5.1.1):
> 6.  Let the parsed-cookie-date be the date whose day-of-month, month,
       year, hour, minute, and second (in UTC)

We don't do that atm, the PR should fix that.